<div class="save-loading" *ngIf="false">
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="row align-items-center h-100 min-vh-100 w-100 p-2 p-md-4" *ngIf="!loading; else loadingTemplate">
  <div class="col-12 col-md-6 publicRoleList">
    <div class="publicRole list-group">
      <div *ngFor="let prol of publicRoleList"
        class="list-group-item d-flex justify-content-between align-items-center w-100">
        <!-- <div class="d-flex justify-content-between align-items-center w-75"> -->
          <p class="m-0">{{prol.name}}</p>
          <div class="align-self-center" *ngIf="prol.posts !== null">
            <p class="m-0">Posts: {{prol.posts}}</p>
          </div>
        <!-- </div> -->
        <div class="btn-group">
          <button class="btn btn-primary btn-sm mr-2"><fa-icon [icon]="['fas', 'pen']"></fa-icon></button>
          <button class="btn btn-danger btn-sm"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div cdkDropList class="list-group" (cdkDropListDropped)="onItemDropped($event)">
      <div *ngFor="let rol of roleList; let i = index" class="list-group-item d-flex align-items-center flex-wrap" cdkDrag>
        <fa-icon *ngIf="rol.admin" [icon]="['fas', 'user-gear']"></fa-icon>
        <fa-icon *ngIf="rol.name=='WELCOME_MOD'" [icon]="['fas', 'hand']"></fa-icon>
        <fa-icon *ngIf="rol.name=='ROLE_MOD'" [icon]="['fas', 'user-shield']"></fa-icon>
        <p class="m-0 ms-2 p-0">{{rol.name}}</p>
      </div>
    </div>
  </div>

</div>

<ng-template #loadingTemplate>
  <div class="page-loading-admin dark">
    <img class="logoIA" src="/assets/svg/logoIA.svg" height="400" alt="loading spinner">
  </div>
</ng-template>