<div class="save-loading" *ngIf="saveLoading">
	<div class="spinner-border fix-spinner text-dark" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<div class="w-m mx-auto p-4" *ngIf="!loading; else loadingTemplate">
	<div cdkDropList class="sect-list" (cdkDropListDropped)="dropSection($event)">
		<div class="row sect-grab" *ngFor="let section of sections; let index = index" cdkDrag>
			<div class="col-md-12 mb-3">
				<div style="cursor:grab;" class="d-flex align-items-center gap-2 flex-wrap">
					<h3>{{ section.name }}</h3>
					<fa-icon style="cursor:pointer;" (click)="editSection(sectionModal,index)" [icon]="['far', 'pen-to-square']"
						ngbTooltip="Edit Section {{section.name}}" placement="right"></fa-icon>
				</div>

				<div #categoryList cdkDropList [id]="connectedTo[index]" [cdkDropListData]="section.categories"
					[cdkDropListConnectedTo]="connectedTo" class="list-group cat-list "
					(cdkDropListDropped)="dropCategory($event)">
					<div style="cursor:grab;"
						class="cat-grab list-group-item d-flex flex-sm-row flex-column justify-content-between"
						*ngFor="let category of section.categories;let cindex = index" cdkDrag>
						<div>{{ category.title }}</div>
						<div class="btn-group w-content mx-auto mt-sm-0 mt-2 mx-sm-1">
							<button class="btn btn-sm btn-primary" (click)="editCategory(categoryModal,index,cindex)"
								aria-label="Edit Cateogry"><fa-icon [icon]="['fas', 'pen']"></fa-icon></button>
							<button  *ngIf="category.id !== 1"class="btn btn-sm btn-danger" (click)="deleteCategory(deleteModal,index,cindex)"
								aria-label="Delete Cateogry"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
							
								<button *ngIf="category.id === 1" class="btn btn-sm btn-danger" (click)="emptyCategory(emptyModal,index,cindex)"
							aria-label="Empty Cateogry"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-3 d-flex flex-column flex-sm-row justify-content-center">
		<button (click)="onSubmit()" [disabled]="saveLoading" class="btn btn-primary m-2" ngbTooltip="Save Current Changes">
			<span *ngIf="saveLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
			<fa-icon *ngIf="!saveLoading" [icon]="['fas', 'cloud-arrow-up']"></fa-icon>
			 Save
		</button>
		<button class="btn btn-success m-2" (click)="createSection(sectionModal)" ngbTooltip="Add New Section"><fa-icon
				[icon]="['fas', 'plus']"></fa-icon> Section</button>
		<button class="btn btn-success m-2" (click)="createCategory(categoryModal)" ngbTooltip="Add New Category"><fa-icon
				[icon]="['fas', 'plus']"></fa-icon> Category</button>
	</div>
</div>

<ng-template #sectionModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{newSectionMode ? 'Add Section': 'Edit Section'}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="sectionForm">
			<div class="mb-3">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" id="name" class="form-control" formControlName="name" required>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer d-flex justify-content-between">
		<button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
		<button type="button" class="btn btn-success" [disabled]="sectionForm.invalid" (click)="modal.close(true)">Save</button>
	</div>
</ng-template>

<ng-template #categoryModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{newCategoryMode ? 'Add Category' : 'Category Update'}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<div class="container">
					<ng-container *ngIf="categoryForm">
						<form [formGroup]="categoryForm">
							<div class="form-floating form-group my-1">
								<input type="text" id="title" placeholder="Title" class="form-control" formControlName="title"
									[ngClass]="{ 'is-invalid': title?.invalid && title?.touched}" required>
								<label class="text-secondary" for="title">Title <sup class="text-danger">*</sup></label>
								<div class="invalid-feedback d-block mt-1 ms-1" *ngIf="!title?.valid && title?.touched">
									<p *ngIf="title?.errors?.['uniqueTitle']">
										<fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> Title must be
										unique.
									</p>
									<p *ngIf="title?.errors?.['required']">
										<fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> Title is required.
									</p>
								</div>
							</div>
							<div class="form-floating form-group my-1">

								<textarea style="height:8rem;" type="text" id="description" placeholder="Description"
									class="form-control" formControlName="description">
									</textarea>
								<label class="text-secondary" for="description">Description</label>
							</div>
							<div class="form-floating custom-floating-label form-group my-1" *ngIf="newCategoryMode">

								<ng-select [items]="sectionList" [searchable]="true" bindLabel="name" bindValue="name"
									formControlName="section" class="select"
									[ngClass]="{ 'is-invalid': section?.invalid && section?.touched}">
								</ng-select>
								<label class="text-secondary" for="section">Section <sup class="text-danger">*</sup></label>
								<div class="invalid-feedback d-block mt-1 ms-1" *ngIf="!section?.valid && section?.touched">
									<p *ngIf="section?.errors?.['required']">
										<fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> Section is required.
									</p>
								</div>
							</div>
							<div class="form-floating custom-floating-label form-group my-1">

								<ng-select [items]="roleList" [searchable]="true" bindLabel="name" bindValue="id" id="can_mod"
									formControlName="can_mod" class="select"
									[ngClass]="{ 'is-invalid': can_mod?.invalid && can_mod?.touched}"></ng-select>
								<label class="text-secondary" for="can_mod">Can Mod <sup class="text-danger">*</sup></label>
								<div class="invalid-feedback d-block mt-1 ms-1" *ngIf="!can_mod?.valid && can_mod?.touched">
									<p *ngIf="can_mod?.errors?.['required']">
										<fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> Can Mod is required.
									</p>
								</div>
							</div>
							<div class="form-floating custom-floating-label form-group my-1">

								<ng-select [items]="roleList" [searchable]="true" bindLabel="name" bindValue="id" id="can_post"
									formControlName="can_post" class="select"
									[ngClass]="{ 'is-invalid': can_post?.invalid && can_post?.touched}"></ng-select>
								<label class="text-secondary" for="can_post">Can Post <sup class="text-danger">*</sup></label>
								<div class="invalid-feedback d-block mt-1 ms-1" *ngIf="!can_post?.valid && can_post?.touched">
									<p *ngIf="can_post?.errors?.['required']">
										<fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> Can Post is
										required.
									</p>
								</div>
							</div>
							<div class="form-floating custom-floating-label form-group my-1">

								<ng-select [items]="roleList" [searchable]="true" bindLabel="name" bindValue="id" id="can_view"
									formControlName="can_view" class="select" 
									[ngClass]="{ 'is-invalid': can_view?.invalid && can_view?.touched}"></ng-select>
								<label class="text-secondary" for="can_view">Can View <sup class="text-danger">*</sup></label>
								<div class="invalid-feedback d-block mt-1 ms-1" *ngIf="!can_view?.valid && can_view?.touched">
									<p *ngIf="can_view?.errors?.['required']">
										<fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> Can View is
										required.
									</p>
								</div>
							</div>
							<label class="text-secondary my-1" for="music">Music</label>
							<input type="file" accept="audio/*" id="music" class="form-control" placeholder="Music"
								formControlName="music">
							<label class="text-secondary my-1" for="image">Image</label>
							<input type="file" id="image" (change)="onFileChange($event)" accept="image/*" class="form-control"
								placeholder="Image" formControlName="image">
							<div *ngIf="imageUrl" class="mt-2">
								<img [src]="imageUrl" alt="Uploaded Image" class="uploaded-image">
							</div>
						</form>
					</ng-container>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer d-flex- justify-content-between">
		<button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
		<button type="button" class="btn btn-success" (click)="saveCategory()" [disabled]="categoryForm.invalid">
			<div *ngIf="saveLoading" class="spinner-border spinner-border-sm" role="status">
				<span class="visually-hidden">Loading...</span>
			</div> Save
		</button>
	</div>
</ng-template>

<ng-template #deleteModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Delete Category</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<div class="my-3">
			<p>Confirm deleting category with title: {{catToDelete}}</p>
			<p class="alert alert-danger">All data related with this category and the topics it contains will be deleted. <strong>Changes won't be effective until you save the category list</strong></p>
		</div>
	</div>
	<div class="modal-footer d-flex justify-content-between">
		<button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
		<button type="button" class="btn btn-danger" (click)="modal.close(true)">Confirm</button>
	</div>
</ng-template>

<ng-template #emptyModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Empty Category</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<div class="my-3">
			<p>This category can't be deleted, proceding confirm will delete all Topics it contains and its posts.</p>
			<p>Confirm deleting all topics from  title: {{catToDelete}}</p>
		</div>
	</div>
	<div class="modal-footer d-flex justify-content-between">
		<button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
		<button type="button" class="btn btn-danger" (click)="modal.close(true)">Confirm</button>
	</div>
</ng-template>

<ng-template #loadingTemplate>
	<div class="page-loading-admin dark">
		<img class="logoIA" src="/assets/svg/logoIA.svg" height="400" alt="loading spinner">
	</div>
</ng-template>