<div class="container" *ngIf="!loading; else loadingTemplate">
	<div cdkDropList (cdkDropListDropped)="dropSection($event)">
		<div class="row" *ngFor="let section of sections; let index = index" cdkDrag>
			<div class="col-md-12 mb-3">
				<div style="cursor:grab;" class="d-flex flex-wrap">
					<h3 >{{ section.name }}</h3>
						<fa-icon style="cursor:pointer;" (click)="editSection(sectionModal,index)" [icon]="['far', 'pen-to-square']" ></fa-icon>
				</div>
				
				<div #categoryList cdkDropList [id]="connectedTo[index]" [cdkDropListData]="section.categories"
					[cdkDropListConnectedTo]="connectedTo" class="list-group cat-list"
					(cdkDropListDropped)="dropCategory($event)">
					<div style="cursor:grab;" class="list-group-item d-flex justify-content-between" *ngFor="let category of section.categories;let cindex = index" cdkDrag>
						<div>{{ category.title }}</div>
						<div class="btn-group">
							<button class="btn btn-sm btn-primary"
								(click)="editCategory(categoryModal,index,cindex)">Edit</button>
							<button class="btn btn-sm btn-danger"
								(click)="deleteCategory(deleteModal,index,cindex)">Delete</button>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-12">
			<button (click)="onSubmit()" class="btn btn-primary m-1">Save</button>
			<button class="btn btn-sm btn-success m-1" (click)="createCategory(categoryModal)">Add Category</button>
			<button class="btn btn-sm btn-success m-1" (click)="createSection(sectionModal)">Add Section</button>
		</div>
	</div>
	
</div>

<ng-template #sectionModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add Section</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="sectionForm">
			<div class="mb-3">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" id="name" class="form-control" formControlName="name">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-success" (click)="modal.close()">Cancel</button>
		<button type="button" class="btn btn-outline-dark" (click)="modal.close(true)">Save</button>
	</div>
</ng-template>

<ng-template #categoryModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title" *ngIf="!newCategoryMode">Category update</h4>
		<h4 class="modal-title" id="modal-basic-title" *ngIf="newCategoryMode">Add Category</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<div class="container">
					<ng-container *ngIf="categoryForm">
						<form [formGroup]="categoryForm">
							<div class="form-floating form-group my-1">
								<input type="text" id="title" placeholder="Title" class="form-control" formControlName="title"
								[ngClass]="{ 'is-invalid': title?.invalid && title?.touched}"
								>
								<label class="text-secondary" for="title">Title<sup class="text-danger">*</sup></label>
								<div class="invalid-feedback d-block mt-1" *ngIf="!title?.valid && title?.touched">
										<p *ngIf="title?.errors?.['uniqueTitle']">
											<fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon>Title must be unique.
										</p>
										<p *ngIf="title?.errors?.['required']">
											<fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon>Title is required.
										</p>
								</div>
							</div>
							<div class="form-floating form-group my-1">
								
								<textarea  style="height:10rem;" type="text" id="description" placeholder="Description" class="form-control" formControlName="description">
									</textarea>
									<label class="text-secondary" for="description">Description</label>
							</div>
							<div class="form-floating form-group my-1" *ngIf="newCategoryMode">
								
								<ng-select
								[items]="sectionList"
								[searchable]="true"
								bindLabel="name"
								bindValue="id"
								formControlName="section"
								class="select"
								[ngClass]="{ 'is-invalid': section?.invalid && section?.touched}"
								>
								</ng-select>
								<label class="text-secondary" for="section">Section<sup class="text-danger">*</sup></label>
								<div class="invalid-feedback d-block mt-1" *ngIf="!section?.valid && section?.touched">
									<p *ngIf="section?.errors?.['required']">
										<fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon>Section is required.
									</p>
							</div>
							</div>
							<div class="form-floating form-group my-1">
								
								<input type="text" id="can_mod" class="form-control" placeholder="Can Mod" formControlName="can_mod"
								[ngClass]="{ 'is-invalid': can_mod?.invalid && can_mod?.touched}"
								>
								<label class="text-secondary" for="can_mod">Can Mod<sup class="text-danger">*</sup></label>
								<div class="invalid-feedback d-block mt-1" *ngIf="!can_mod?.valid && can_mod?.touched">
									<p *ngIf="can_mod?.errors?.['required']">
										<fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon>Can Mod is required.
									</p>
							</div>
							</div>
							<div class="form-floating form-group my-1">
								
								<input type="text" id="can_post" class="form-control" placeholder="Can Post" formControlName="can_post"
								[ngClass]="{ 'is-invalid': can_post?.invalid && can_post?.touched}"
								>
								<label class="text-secondary" for="can_post">Can Post<sup class="text-danger">*</sup></label>
								<div class="invalid-feedback d-block mt-1" *ngIf="!can_post?.valid && can_post?.touched">
									<p *ngIf="can_post?.errors?.['required']">
										<fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon>Can Post is required.
									</p>
							</div>
							</div>
							<div class="form-floating form-group my-1">
								
								<input type="text" id="can_view" class="form-control" placeholder="Can View" formControlName="can_view"
								[ngClass]="{ 'is-invalid': can_view?.invalid && can_view?.touched}"
								>
								<label class="text-secondary" for="can_view">Can View<sup class="text-danger">*</sup></label>
								<div class="invalid-feedback d-block mt-1" *ngIf="!can_view?.valid && can_view?.touched">
									<p *ngIf="can_view?.errors?.['required']">
										<fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon>Can View is required.
									</p>
							</div>
							</div>

							<div class="form-floating form-group my-1">
								
								<input type="text" id="image" class="form-control" placeholder="Image" formControlName="image">
								<label class="text-secondary" for="image">Image</label>
							</div>
							<div class="form-floating form-group my-1">
								
								<input type="text" id="music" class="form-control" placeholder="Music" formControlName="music">
								<label class="text-secondary" for="music">Music</label>
							</div>

						</form>
					</ng-container>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" (click)="modal.close()" >Cancel</button>
		<button type="button" class="btn btn-outline-dark" (click)="modal.close(true)"  [disabled]="categoryForm.invalid">Save</button>
	</div>
</ng-template>

<ng-template #deleteModal let-modal>
	<div class="modal-body">
		<button type="button" class="btn-close float-right" aria-label="Close" (click)="modal.dismiss()"></button>
			<div class="mb-3">
				Confirm deleting category with title: {{catToDelete}}
			</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-success" (click)="modal.close()">Cancel</button>
		<button type="button" class="btn btn-outline-danger" (click)="modal.close(true)">Confirm</button>
	</div>
</ng-template>
<hr />
<ng-template #loadingTemplate>
	<div class="page-loading light">
		<img class="logoIA" src="/assets/svg/logoIA.svg" height="400" alt="loading spinner">
	</div>
</ng-template>