<header class="header {{theme}}" [ngClass]="{'small': top}">
    <a class="logo" routerLink="/">
        <img class="logoIA" src="/assets/svg/logoIA.svg" height="50" alt="logo icon FORIA">
        <img class="logoFORIA" src="/assets/svg/logoFORIA.svg" height="30" alt="logo FORIA">
    </a>
    <form>
        <input type="text" placeholder="Search">
        <button type="submit">Search</button>
    </form>
    <nav *ngIf="userIsAuthenticated">
        <ul>
            <li><a routerLink="/category/2" routerLinkActive="active"><fa-icon
                        [icon]="['fas', 'newspaper']"></fa-icon><span>News</span></a>
            </li>
            <li>
                <button type="button" [class]="{'dark': theme=='light'}" (click)="changeTheme()"><fa-icon
                        [icon]="['fas', theme=='light' ? 'moon': 'sun']"></fa-icon></button>
            </li>
        </ul>
        <ul>
            <li class="dropdown">
                <a class="avatar dropbtn" routerLink="/user/profile/{{userIsAuthenticated.userData.id}}"
                    routerLinkActive="active">
                    <img *ngIf="userIsAuthenticated.userData.avatar == null"
                        [src]="'https://api.dicebear.com/6.x/bottts/svg?seed='+userIsAuthenticated.userData.nick"
                        alt="Default Avatar" width="40" height="40">
                    <img *ngIf="userIsAuthenticated.userData.avatar != null && (userIsAuthenticated.userData.avatar | avatarUrl)"
                        [src]="userIsAuthenticated.userData.avatar" alt="Avatar" width="40" height="40">
                    <img *ngIf="userIsAuthenticated.userData.avatar != null && !(userIsAuthenticated.userData.avatar | avatarUrl)"
                        [src]="url+userIsAuthenticated.userData.avatar" alt="Avatar" width="40" height="40">
                    <span>{{userIsAuthenticated.userData.nick}}</span>
                </a>
                <div class="dropdown-content">
                    <a routerLink="/private-message" routerLinkActive="active">
                        <fa-icon [icon]="['fas', 'message']"></fa-icon><span>Messages</span>
                    </a>
                    <a routerLink="/user/profile/{{userIsAuthenticated.userData.id}}" routerLinkActive="active"><fa-icon
                            [icon]="['fas', 'user']"></fa-icon><span>Profile</span></a>
                    <a routerLink="/user/edit" routerLinkActive="active"><fa-icon
                            [icon]="['fas', 'edit']"></fa-icon><span>Edit</span></a>
                    <a href="javascript:void(0);" (click)="logout()"><fa-icon
                            [icon]="['fas', 'right-from-bracket']"></fa-icon><span>Logout</span></a>
                </div>
            </li>
        </ul>
    </nav>
    <nav *ngIf="!userIsAuthenticated">
        <ul>
            <li><a routerLink="/category/2" routerLinkActive="active"><fa-icon
                        [icon]="['fas', 'newspaper']"></fa-icon><span>News</span></a>
            </li>
        </ul>
        <ul>
            <li><a routerLink="/auth/register" routerLinkActive="active">
                    <fa-icon [icon]="['fas', 'address-card']"></fa-icon><span>Registrar</span>
                </a>
            </li>
            <li>
                <a routerLink="/auth/login" routerLinkActive="active">
                    <fa-icon [icon]="['fas', 'right-to-bracket']"></fa-icon><span>Login</span>
                </a>
            </li>
        </ul>
    </nav>
</header>