<header class="header {{theme}}" [ngClass]="{'small': top}">
    <a class="logo" routerLink="/" aria-label="Go to ForIA Home">
        <img class="logoIA" src="/assets/svg/logoIA.svg" height="50" alt="logo icon FORIA">
        <img class="logoFORIA" src="/assets/svg/logoFORIA.svg" height="30" alt="logo FORIA">
    </a>

    <nav *ngIf="userIsAuthenticated">
        <ul>
            <li><a routerLink="/category/2" routerLinkActive="active"><fa-icon
                        [icon]="['fas', 'newspaper']"></fa-icon><span>{{"NEWS"|translate}}</span></a>
            </li>
            <li class="topic-1"><a routerLink="/topic/1" routerLinkActive="active"><fa-icon
                        [icon]="['fas', 'vial']"></fa-icon><span>Topic</span></a>
            </li>
            <li>
                <button ngbTooltip="Change to {{theme=='light' ? 'Dark': 'Light'}} Theme" aria-albel="Change the theme"
                    type="button" (click)="changeTheme()"><fa-icon
                        [icon]="['fas', theme=='light' ? 'moon': 'sun']"></fa-icon></button>
            </li>
        </ul>
        <ul>
            <li class="dropdown">
                <p class="avatar" (click)="hover = false">
                    <app-avatar [user]="userIsAuthenticated.userData" [width]="top? '30': '50'"
                        [height]="top? '30': '50'" [small]="true"></app-avatar>
                    <span>{{userIsAuthenticated.userData.nick}}</span>
                </p>
                <div class="dropdown-content {{hover ? 'noo': ''}}" (click)="hover=true">
                    <a *ngIf="userIsAuthenticated.userData.isAdmin" routerLink="admin"
                        routerLinkActive="active"><fa-icon [icon]="['fas', 'hammer']"></fa-icon>Admin</a>
                    <a routerLink="/private-message" routerLinkActive="active">
                        <fa-icon [icon]="['fas', 'message']"></fa-icon><span>{{"MESSAGES"|translate}}</span>
                    </a>
                    <a routerLink="/user/profile/{{userIsAuthenticated.userData.id}}" routerLinkActive="active"><fa-icon
                            [icon]="['fas', 'user']"></fa-icon><span>{{"PROFILE" | translate}}</span></a>
                    <a routerLink="/user/edit" routerLinkActive="active"><fa-icon
                            [icon]="['fas', 'edit']"></fa-icon><span>{{"EDIT" | translate}}</span></a>
                    <a routerLink="/user/password" routerLinkActive="active"><fa-icon
                            [icon]="['fas', 'lock']"></fa-icon><span>{{"PASSWORD" | translate}}</span></a>
                    <a href="javascript:void(0);" (click)="logout()"><fa-icon
                            [icon]="['fas', 'right-from-bracket']"></fa-icon><span>{{"LOGOUT" | translate}}</span></a>
                </div>
            </li>
        </ul>
    </nav>

    <nav *ngIf="!userIsAuthenticated">
        <ul>
            <li><a routerLink="/category/2" routerLinkActive="active"><fa-icon
                        [icon]="['fas', 'newspaper']"></fa-icon><span>{{"NEWS"|translate}}</span></a>
            </li>
            <li><a routerLink="/topic/1" routerLinkActive="active"><fa-icon
                        [icon]="['fas', 'vial']"></fa-icon><span>Topic</span></a>
            </li>
            <li>
                <button ngbTooltip="{{'CHANGE_TO' | translate}} {{theme=='light' ? 'Dark': 'Light'}} Theme"
                    aria-albel="Change the theme" type="button" (click)="changeTheme()"><fa-icon
                        [icon]="['fas', theme=='light' ? 'moon': 'sun']"></fa-icon></button>
            </li>
            <li>
                <select (change)="changeLanguage()" id="language" [(ngModel)]="language">
                    <option value="es" [selected]="language === 'es'">{{"SPANISH"|translate}}</option>
                    <option value="ca" [selected]="language === 'ca'">{{"CATALAN"|translate}}</option>
                    <option value="en" [selected]="language === 'en'">{{"ENGLISH"|translate}}</option>
                </select>
            </li>
        </ul>
        <ul>
            <li><a routerLink="/auth/register" routerLinkActive="active">
                    <fa-icon [icon]="['fas', 'address-card']"></fa-icon><span>{{"REGISTER" | translate}}</span>
                </a>
            </li>
            <li>
                <a routerLink="/auth/login" routerLinkActive="active">
                    <fa-icon [icon]="['fas', 'right-to-bracket']"></fa-icon><span>{{"LOGIN" | translate}}</span>
                </a>
            </li>
        </ul>
    </nav>

    <ul *ngIf="userIsAuthenticated && isAdmin" class="ng-select">
        <li >
            <ng-select [(ngModel)]="roles" (change)="changeRole()" [multiple]="true">
                <ng-option *ngFor="let role of roleList" [value]="role.id">{{role.id + '-' +
                    role.name}}</ng-option>
            </ng-select>
        </li>
    </ul>
    <ul class="ng-select">
        <li *ngIf="development">
            <ng-select [(ngModel)]="user" (change)="changeUser()">
                <ng-option *ngFor="let user of userList$ | async" [value]="user.id">{{user.id + '-' +
                    user.nick}}</ng-option>
            </ng-select>
        </li>
    </ul>
</header>