<div class="form-page">
    <form [formGroup]="formRegister" (ngSubmit)="submit()" class="form-container">
        <h2>Register</h2>
        <h3 *ngIf="error"><fa-icon [icon]="['fas', 'circle-exclamation']"></fa-icon> {{error}}!</h3>
        <div class="fields">
            <div class="group">
                <div class="field">
                    <input type="text" formControlName="nick" class="input" placeholder="Nick" required>
                    <fa-icon class="icon" [icon]="['fas', 'user']"></fa-icon>
                </div>
                <div class="message-block" *ngIf="!nick?.valid && nick?.touched">
                    <ng-container *ngFor="let validation of validationMessagesRegister.nick | keyvalue">
                        <div *ngIf="nick?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="group">
                <div class="field">
                    <input type="email" formControlName="email" class="input" placeholder="Email" required>
                    <fa-icon class="icon" [icon]="['fas', 'envelope']"></fa-icon>
                </div>
                <div class="message-block" *ngIf="!email?.valid && email?.touched">
                    <ng-container *ngFor="let validation of validationMessagesRegister.email | keyvalue">
                        <div *ngIf="email?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="group">
                <div class="field">
                    <input type="text" formControlName="password" class="input" placeholder="Password" required>
                    <fa-icon class="icon" [icon]="['fas', 'lock']"></fa-icon>
                </div>
                <div class="message-block" *ngIf="!password?.valid && password?.touched">
                    <ng-container *ngFor="let validation of validationMessagesRegister.password | keyvalue">
                        <div *ngIf="password?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="group">
                <div class="field">
                    <input type="text" formControlName="password_confirmation" class="input"
                        placeholder="Password Confirmation" required>
                    <fa-icon class="icon" [icon]="['fas', 'lock']"></fa-icon>
                </div>
                <div class="message-block" *ngIf="!password_confirmation?.valid && password_confirmation?.touched">
                    <ng-container
                        *ngFor="let validation of validationMessagesRegister.password_confirmation | keyvalue">
                        <div *ngIf="password_confirmation?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="btn-field">
            <button [disabled]="!formRegister.valid" class="btn-send">
                Register
            </button>
            <fa-icon class="btn-icon" [icon]="['fas', 'thumbs-up']"></fa-icon>
        </div>
        <div class="form-links">
            <p>Already have an accoun? <a routerLink="/login">Login</a></p>
        </div>
    </form>
</div>
