:host {
  display: block;
  width: var(--skeleton-rect-width);
  height: var(--skeleton-rect-height);
  background: rgb(239, 241, 246) no-repeat;
  animation: pulsea 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation-delay: 0.5s;
  // border: 2px solid red !important;
}

.pulse {
  animation: pulsea 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation-delay: 0.5s;
  border: 2px solid red !important;
}

@keyframes pulsea {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.mb-2 {
  margin-bottom: 10px;
}

.m-2 {
  margin: 10px;
}
