<div class="page-container">
  <!-- TODO HEADER component -->
  <header class="header" [ngClass]="{'small': top}">
    <a class="logo" routerLink="/">
      <img class="logoIA" src="/assets/svg/logoIA.svg" height="55" alt="logo icon FORIA">
      <img class="logoFORIA" src="/assets/svg/logoFORIA.svg" height="37" alt="logo FORIA">
    </a>
    <nav *ngIf="userIsAuthenticated">
      <ul>
        <li><a routerLink="/message/list" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'message']"></fa-icon><span>Messages</span>
          </a></li>
        <li><a routerLink="/test" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'vial']"></fa-icon><span>Test</span></a></li>
      </ul>
      <ul>
        <li class="dreta"><a routerLink="/user/profile" routerLinkActive="active"><fa-icon
              [icon]="['fas', 'user']"></fa-icon><span>Profile</span></a></li>
        <li><a routerLink="/user/edit" routerLinkActive="active"><fa-icon
              [icon]="['fas', 'edit']"></fa-icon><span>Edit</span></a></li>
        <li><a routerLink="/user/preferences" routerLinkActive="active"><fa-icon
              [icon]="['fas', 'gear']"></fa-icon><span>Preferences</span></a></li>
        <li><a href="javascript:void(0);" (click)="logout()"><fa-icon
              [icon]="['fas', 'right-from-bracket']"></fa-icon><span>Logout</span></a></li>
      </ul>
    </nav>
    <nav *ngIf="!userIsAuthenticated">
      <ul>
        <li><a routerLink="/edit" routerLinkActive="active"><fa-icon
              [icon]="['fas', 'edit']"></fa-icon><span>Edit</span></a>
        </li>
        <li><a routerLink="/test" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'user']"></fa-icon><span>Test</span></a>
        </li>
      </ul>
      <ul>
        <li><a routerLink="/auth/register" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'address-card']"></fa-icon><span>Registrar</span>
          </a>
        </li>
        <li>
          <a routerLink="/auth/login" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'right-to-bracket']"></fa-icon><span>Login</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="container-wrap">
    <router-outlet></router-outlet>
  </main>
  <!-- TODO FOOTER component -->
  <footer class="footer">
    <img src="/assets/svg/logo.svg" height="50" alt="logo">
    <div class="icons-footer">
      <a href="https://www.github.com/" target="_blank">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
      <a href="https://www.youtube.com/" target="_blank">
        <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      </a>
      <a href="https://www.twitter.com/" target="_blank">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/" target="_blank">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      </a>
      <a href="https://www.discord.com/" target="_blank">
        <fa-icon [icon]="['fab', 'discord']"></fa-icon>
      </a>
    </div>
    <div class="footer-text">
      <p>Copyright &copy; 2023</p>
      <p>By Eloi & Dani</p>
    </div>
  </footer>
</div>