
<div *ngIf="!isAdminRoute" [hidden]="loading" class="page-container">
  <app-header></app-header>

  <main class="container-wrap">
    <router-outlet></router-outlet>
    <a routerLink="admin">Admin</a>
  </main>
  
  <app-footer></app-footer>
</div>

<div *ngIf="isAdminRoute">
  <app-admin></app-admin>
  <a routerLink="">Home</a>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<div *ngIf="loading" class="page-loading {{theme}}">
  <img class="logoIA" src="/assets/svg/logoIA.svg" height="400" alt="loading spinner">
</div>