# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db

/ssl/
/ssl
ssl/
/persistent
backend/.envold.production
backend/.env.development
docker-compose2.yml
.gitignore
backend/.gitignore
