<div class="list-page {{theme}}">
    <div class="list">
        <div class="list-header">
            <h1>{{"NEW_PM" |translate}}</h1>
        </div>
        <div class="list-body">
            <div class="editor-parent" *ngIf="userLogged">
                <div class="custom-search">
                    <input type="text" class="editor-title" placeholder="Title" [(ngModel)]="message.title" ngbTooltip="{{'TITLE_REQUIRED'|translate}}">
                    <div class="user-search">
                        <ng-select [placeholder]="'User'" [items]="userList$ | async" class="select" bindLabel="nick"
                            bindValue="id" [(ngModel)]="message.recipient">
                        </ng-select>
                    </div>
                </div>
                <div class="editor-user">
                    <div class="user-card">
                        <app-avatar [user]="userLogged.userData"></app-avatar>
                        <div class="text">
                        <a routerLink="/user/profile/{{userLogged.userData.id}}" ngbTooltip="{{'VIEW_SELF_PROFILE'|translate}}">{{userLogged.userData.nick}}</a>
                            <small ngbTooltip="{{userLogged.userData.public_role.description}}" placement="bottom">{{userLogged.userData.public_role.name}}</small>
                        </div>
                    </div>
                    <div class="editor">
                        <angular-editor [(ngModel)]="message.content" [config]="editorConfig"></angular-editor>
                    </div>
                </div>
                <div *ngIf="error !== ''" class="error">
                    <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{error}}
                </div>
                <button type="submit" class="btn-s"
                    [disabled]="message.recipient == 0 || message.title === '' || posting || message.content.length === 0 || message.content.length > 10_000 || message.recipient == null"
                    (click)="onSubmit()">
                    <span *ngIf="posting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    {{"SEND" | translate}}  </button>
            </div>
        </div>
    </div>
</div>