.list-page .list .list-body .editor-parent .custom-search.self-grid .user-search .select {
    width:100% !important;
  }

.self-grid{
    grid-template-columns: auto auto auto !important;
    grid-column-gap:20px;
  }