<div class="form-page">
    <form [formGroup]="formRegister" (ngSubmit)="submit()" class="form-container">
        <h2>Register</h2>
        <h3 *ngIf="error"><fa-icon [icon]="['fas', 'circle-exclamation']"></fa-icon> {{error}}</h3>
        <h4 *ngIf="loading"><fa-icon [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon> Loading ...</h4>
        <div class="fields">
            <div class="group">
                <div class="field">
                    <input type="text" autocomplete="nickname" formControlName="nick" class="input" placeholder="Nick" [(ngModel)]="user.nick" required>
                    <fa-icon class="icon" [icon]="['fas', 'user']"></fa-icon>
                </div>
                <div class="message-block" *ngIf="!nick?.valid && nick?.touched">
                    <ng-container *ngFor="let validation of validationMessagesRegister.nick | keyvalue">
                        <div *ngIf="nick?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="group">
                <div class="field">
                    <input type="email" autocomplete="email" formControlName="email" class="input" placeholder="Email" [(ngModel)]="user.email" required>
                    <fa-icon class="icon" [icon]="['fas', 'envelope']"></fa-icon>
                </div>
                <div class="message-block" *ngIf="!email?.valid && email?.touched">
                    <ng-container *ngFor="let validation of validationMessagesRegister.email | keyvalue">
                        <div *ngIf="email?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="group">
                <div class="field">
                    <input type="password" autocomplete="new-password" formControlName="password" class="input" placeholder="Password" [(ngModel)]="user.password" required>
                    <fa-icon class="icon" [icon]="['fas', 'lock']"></fa-icon>
                </div>
                <div class="message-block" *ngIf="!password?.valid && password?.touched">
                    <ng-container *ngFor="let validation of validationMessagesRegister.password | keyvalue">
                        <div *ngIf="password?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="group">
                <div class="field">
                    <input type="password" autocomplete="new-password" formControlName="password_confirmation" class="input"
                        placeholder="Password Confirmation" [(ngModel)]="user.password_confirmation" required>
                    <fa-icon class="icon" [icon]="['fas', 'lock']"></fa-icon>
                </div>
                <div class="message-block" *ngIf="!password_confirmation?.valid && password_confirmation?.touched">
                    <ng-container
                        *ngFor="let validation of validationMessagesRegister.password_confirmation | keyvalue">
                        <div *ngIf="password_confirmation?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- <div class="group">
                <div class="row-field">
                    <input type="checkbox" id="newsletter" formControlName="remember_me">
                    <label for="newsletter">Recieve Newsletters</label>
                </div>
            </div>  -->
        </div>
        <div class="btn-field">
            <button [disabled]="formRegister.invalid" class="btn-send">
                Register
            </button>
            <fa-icon class="btn-icon" [icon]="['fas', 'thumbs-up']"></fa-icon>
        </div>
        <div class="form-links">
            <p>Already have an accoun? <a routerLink="/auth/login">Login</a></p>
            <p>Forgot your password? <a routerLink="/auth/reset-password">Reset Password</a></p>
        </div>
    </form>
</div>