<div class="sidebar {{coll}} {{theme}}">
    <div class="toggle {{order? 'start': 'end'}} {{userLoggedIn? '': 'sol'}}">
        <button class="btn2" (click)="coll = !coll; width = coll ? '45px':'240px';margin = coll?'0':'0 1rem'" type="button"><fa-icon [icon]="['fas', coll ? order ? 'chevron-right': 'chevron-left': 'chevron-down']"></fa-icon></button>
        <button *ngIf="userLoggedIn" class="btn-a" type="button" (click)="editSidebar()">{{order  ? 'Left': 'Right'}}</button>
    </div>
    <div [(ngbCollapse)]="coll">
        <div class="sidebar-title" *ngIf="userLoggedIn;else notLoggedHeader">
            <p routerLink="/user/profile/{{userLocalData?.id}}" class="nick">{{userLocalData?.nick}}</p>
            <app-avatar [user]="userLocalData"></app-avatar>
        </div>
        <ng-template #notLoggedHeader>
            <div class="sidebar-title">
            </div>
        </ng-template>

        <div class="sidebar-body">
            <div class="sidebar-stats" *ngIf="userData && userLoggedIn">
                <p>Published messages: {{userData.messages}}</p>
                <p>Private messages: {{userData.pms}}</p>
                <p>New Private Messages: {{userData.newPms}}</p>
            </div>
            <div class="sidebar-posts" *ngIf="lastPosts">
                <p>Last {{lastPosts.length}} Posts</p>
                <div class="sidebar-post" *ngFor="let post of lastPosts">
                    <a routerLink="/topic/{{post.id}}" [queryParams]="{page:post.last_page}">{{post.title |
                        capitalize}}</a><br>
                    By <a routerLink="/user/profile/{{post.user_id}}" class="sidebar-nick">{{post.user_nick}}</a>
                    {{post.created_at | ago}}
                </div>
            </div>
            <div class="sidebar-forum-stats" *ngIf="!loading[3]">
                <p>Topics: {{forumStats.topics}}</p>
                <p>Posts: {{forumStats.posts}}</p>
                <p>Users: {{forumStats.users}}</p>
                <p>Last User: <a routerLink="/user/profile/{{forumStats.lastUser.id}}">{{forumStats.lastUser.nick}}</a>
                </p>
                <p>Last Poll: <a routerLink="/topic/{{forumStats.lastPoll.topic_id}}">{{forumStats.lastPoll.name}}</a></p>
            </div>
        </div>
    </div>
</div>