<!--* POTS BORRAR AIXO SI VOLS ES NOMES UNA PROVA *-->
<!-- <div class="container-fluid">
  <div class="row flex-nowrap">
    <ul>
      <li><a routerLink="/admin/login">Login</a></li> 
      <li><a routerLink="/admin/dashboard">Dashboard</a></li>
    </ul>
  </div>
</div> -->

<div class="d-flex min-vh-100 h-100 flex-column flex-shrink-0 p-3 bg-light">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/admin/login" class="nav-link" routerLinkActive="active link-light" aria-current="page">
        Login
      </a>
    </li>
    <li>
      <a routerLink="/admin/dashboard" class="nav-link"  routerLinkActive="active link-light">
        <fa-icon [icon]="['far', 'rectangle-list']"></fa-icon> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/admin/categories" class="nav-link"  routerLinkActive="active link-light">
        <fa-icon [icon]="['far', 'folder']"></fa-icon> Categories
      </a>
    </li>
    <li>
      <a routerLink="/admin/users" class="nav-link"  routerLinkActive="active link-light">
        <fa-icon [icon]="['far', 'user']"></fa-icon> Users
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="/admin/dashboard" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>