.topic,
.post {
  display: flex;
  border: 2px solid black;
  margin-bottom: 2rem;
  padding: 1em;
}

.post-body,
.topic-body {
  padding: 8px;
}

.user-card {
  // padding: 1em;
  max-width: 120px;
  word-break: break-all;
  display: flex;
  border-right: 2px solid black;
}

.edit-buttons {
  margin-left: auto;
  order: 5;
}

//loading skeleton
// .pulse {
//   animation: pulsea 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
//   animation-delay: 0.5s;
// }

<<<<<<< HEAD
// @keyframes pulsea {
//   0% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0.5;
//   }
//   100% {
//     opacity: 1;
//     background-color: red !important;
//   }
// }

// .mb-2 {
//   margin-bottom: 10px;
// }

// .m-2 {
//   margin: 10px;
// }
=======
.editor{
  width:50rem;

  &.light{
    color:black;
    background-color: #a0afa0;
  }

  &.dark{
    color:white;
    background-color: #222;
  }

}


.editor-parent{
  display:grid;
  place-content: center;
}
>>>>>>> fade6e8775c952175e9dfb59d5e62ec81254f080
