<div class="list-page {{theme}}">
    <app-sidebar></app-sidebar>
    
    <div class="list" *ngIf="loading">
        <div class="list-header">
            <span>
                <app-loading height="53px" width="250px"></app-loading>
            </span>
            <div class="m"><app-loading height="40px" width="200px"></app-loading></div>
        </div>
        <div class="list-body">
            <div class="posts">
                <div class="user-card m">
                    <app-loading appa="circle"></app-loading>
                    <div class="text m">
                        <p>
                            <app-loading height="22px" width="70px"></app-loading>
                        </p>
                        <small><app-loading height="18px" width="40px"></app-loading></small>
                    </div>
                </div>
                <div class="post-main">
                    <div class="post-body">
                        <div class="post-header">
                            <p class="m"><app-loading height="23px" width="80px"></app-loading></p>
                        </div>
                        <p class="content m"><app-loading height="135px" width="100%"></app-loading></p>
                    </div>
                </div>
            </div>
            <div class="posts" *ngFor="let _ of [0,1,2,3]">
                <div class="user-card m">
                    <app-loading appa="circle"></app-loading>
                    <div class="text m">
                        <p><app-loading height="22px" width="70px"></app-loading></p>
                        <small><app-loading height="18px" width="40px"></app-loading></small>
                    </div>
                </div>
                <div class="post-main">
                    <div class="post-body">
                        <div class="post-header">
                            <p class="m"><app-loading height="23px" width="70px"></app-loading></p>
                        </div>
                        <p class="content m"><app-loading height="135px" width="100%"></app-loading></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-footer">
            <app-loading height="35px" width="180px"></app-loading>
        </div>
    </div>

    <div class="list" *ngIf="!loading">
        <div class="list-header">
            <h1 class="h1-title" routerLink="/category/{{listPosts.category.id}}">{{listPosts.category.title |
                capitalize}}</h1>
            <div class="subt">
                <h2>{{listPosts.topic.title | capitalize}}</h2>
                <div class="two-options">
                    <a class="btn-a btn-delete" *ngIf="listPosts.can_mod && !listPosts.closed" href="javascript:void(0);" (click)="toggleTopic()">
                        <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                        {{"CLOSE_POST"|translate}}</a>
                        <a class="btn-a btn-a" *ngIf="listPosts.can_mod && listPosts.closed" href="javascript:void(0);" (click)="toggleTopic()">
                            <fa-icon [icon]="['fas', 'unlock']"></fa-icon>
                            {{"OPEN_POST"|translate}}</a>
                    <a class="btn-a" *ngIf="listPosts.can_post" routerLink="/post/create/{{listPosts.topic.id}}">
                        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        {{"CREATE_POST"|translate}}</a>
                    <a class="btn-a" routerLink="/topic/{{listPosts.topic.id}}/poll/create" *ngIf="listPosts.can_poll">
                        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        {{"CREATE_POLL"|translate}}</a>
                </div>
            </div>
        </div>
        <div class="list-body" *ngIf="listPosts.poll">
            <h4 class="l2" *ngIf="loading2 && showResults && !pollResults"><fa-icon [icon]="['fas', 'spinner']"
                    [pulse]="true"></fa-icon> Loading Poll ...</h4>
            <div *ngIf="!showResults" class="poll-view">
                <div class="poll-title">
                    <h3>{{"POLL"|translate}} {{listPosts.poll.name}}</h3>
                    <button
                        ngbTooltip="{{(listPosts.poll.finish_date | finished) <= 0 ? ('FINISH_POLL'|translate) : ('OPEN_POLL'|translate)}}"
                        class="btn-add" type="button" (click)="closePoll()" *ngIf="listPosts.poll.can_close"><fa-icon
                            [icon]="['fas', 'flag-checkered']"></fa-icon></button>
                    <a class="btn-edit" ngbTooltip="{{'EDIT_POLL'|translate}}" routerLink="/topic/{{listPosts.topic.id}}/poll/edit"
                        *ngIf="listPosts.poll.can_edit"><fa-icon [icon]="['fas', 'pen']"></fa-icon></a>
                    <button class="btn-delete" ngbTooltip="{{'DELETE_POLL'|translate}}" type="button" (click)="openModal(deleteModalPoll)"
                        *ngIf="listPosts.poll.can_edit"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
                </div>
                <div class="poll-option-vote">
                    <div class="poll-options" *ngFor="let option of listPosts.poll.options">
                        <input type="radio" name="poll" id="option-{{option.id}}" [(ngModel)]="vote" [value]="option.id"
                            class="option-radio">
                        <label for="option-{{option.id}}" class="option-label">{{option.option}}</label>
                    </div>
                </div>
                <button class="btn-a" (click)="onVote()" [disabled]="vote == null">
                    <fa-icon [icon]="['fas', 'check']"></fa-icon>
                    {{"VOTE"|translate}}</button>
                <button class="btn2" (click)="onShowPollResults()">
                    <fa-icon [icon]="['fas', 'square-poll-horizontal']"></fa-icon>
                    {{"SHOW_RESULTS"|translate}}</button>
            </div>
            <div *ngIf="pollResults && showResults" class="poll-view">
                <div class="poll-title">
                    <h3>{{"POLL"|translate}} {{pollResults.name}}</h3>
                    <button
                        ngbTooltip="{{(listPosts.poll.finish_date | finished) <= 0 ? ('FINISH_POLL'|translate) : ('OPEN_POLL'|translate)}}"
                        class="btn-add" type="button" (click)="closePoll()" *ngIf="listPosts.poll.can_close"><fa-icon
                            [icon]="['fas', (listPosts.poll.finish_date | finished) <= 0 ? 'flag-checkered' : 'lock-open']"></fa-icon></button>
                    <a class="btn-edit" ngbTooltip="{{'EDIT_POLL'|translate}}" routerLink="/topic/{{listPosts.topic.id}}/poll/edit"
                        *ngIf="listPosts.poll.can_edit"><fa-icon [icon]="['fas', 'pen']"></fa-icon></a>
                    <button class="btn-delete" ngbTooltip="{{'DELETE_POLL'|translate}}" type="button" (click)="openModal(deleteModalPoll)"
                        *ngIf="listPosts.poll.can_edit"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
                </div>
                <div class="poll-vote">
                    <ng-container *ngFor="let option of pollResults.options"><span>{{option.option}} - {{option.votes}}
                            {{"VOTES"|translate}}</span><ngb-progressbar [showValue]="true"
                            type="{{option.voted ? 'success' : 'primary'}}"
                            [value]="(option?.votes??0)* 100/pollResults.votes" [striped]="true" [animated]="true"></ngb-progressbar>
                    </ng-container>
                </div>
                <button class="btn2" (click)="onShowPollResults()" *ngIf="listPosts.poll.can_vote">
                    <fa-icon [icon]="['fas', 'backward']"></fa-icon>
                    {{"BACK_TO_VOTE"|translate}}</button>
            </div>
            <div class="poll-view">
                <p *ngIf="(listPosts.poll.finish_date | finished) <= 0">{{"FINISHES"|translate}} {{listPosts.poll.finish_date | date }}
                </p>
                <p *ngIf="(listPosts.poll.finish_date | finished) > 0">{{"FINISHED"|translate}} {{listPosts.poll.finish_date | date }}
                </p>
            </div>
        </div>
        <div class="list-body">
            <div *ngIf="listPosts.topic.user" class="posts">
                <div class="user-card">
                    <app-avatar [user]="listPosts.topic.user"></app-avatar>
                    <div class="text">
                        <a routerLink="/user/profile/{{listPosts.topic.user.id}}"
                            ngbTooltip="{{'VIEW_PROFILE'|translate}} {{listPosts.topic.user.nick}}">{{listPosts.topic.user.nick}}</a>
                        <small ngbTooltip="{{listPosts.topic.user.public_role.description}}"
                            placement="bottom">{{listPosts.topic.user.public_role.name}}</small>
                    </div>
                </div>
                <div class="post-main">
                    <div class="post-body">
                        <div class="post-header">
                            <p class="post-date" ngbTooltip="{{'CREATED'|translate}} {{listPosts.topic.created_at | ago}}">
                                {{listPosts.topic.created_at | ago}}</p>
                            <div *ngIf="listPosts.can_edit" class="edit-buttons">
                                <button routerLink="/topic/edit/{{listPosts.topic.id}}" class="btn-edit"
                                    ngbTooltip="{{'EDIT_TOPIC'|translate}}" type="button"><fa-icon
                                        [icon]="['fas', 'pen']"></fa-icon></button>
                                <button (click)="openModal(deleteModalTopic)" ngbTooltip="{{'DELETE_TOPIC'|translate}}"
                                    class="btn-delete" type="button"><fa-icon
                                        [icon]="['fas', 'trash']"></fa-icon></button>
                            </div>
                        </div>
                        <p class="content" [innerHTML]="listPosts.topic.content??'' | sanitizer"></p>
                    </div>
                    <div *ngIf="listPosts.topic.created_at != listPosts.topic.updated_at" class="post-footer">
                        <p ngbTooltip="{{'UPDATED'|translate}} {{listPosts.topic.updated_at | ago}}">{{listPosts.topic.updated_at |
                            ago}}</p>
                    </div>
                </div>
            </div>
            <div class="posts" [id]="post.id" *ngFor="let post of listPosts.posts">
                <div class="user-card">
                    <app-avatar [user]="post.user"></app-avatar>
                    <div class="text">
                        <a routerLink="/user/profile/{{post.user.id}}"
                            ngbTooltip="{{'VIEW_PROFILE'|translate}} {{post.user.nick}}">{{post.user.nick}}</a>
                        <small ngbTooltip="{{post.user.public_role.description}}"
                            placement="bottom">{{post.user.public_role.name}}</small>
                    </div>
                </div>
                <div class="post-main">
                    <div class="post-body">
                        <div class="post-header">
                            <p class="post-date" ngbTooltip="Created {{post.created_at | ago}}">{{post.created_at |
                                ago}}</p>
                            <div *ngIf="post.can_edit" class="edit-buttons">
                                <button class="btn-edit" ngbTooltip="{{'EDIT_POST'|translate}}" type="button"
                                    routerLink="/post/edit/{{post.id}}"><fa-icon
                                        [icon]="['fas', 'pen']"></fa-icon></button>
                                <button class="btn-delete" ngbTooltip="{{'DELETE_POST'|translate}}" type="button"
                                    (click)="openModalPost(deleteModalPost, post.id, post.user.nick)"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
                            </div>
                        </div>
                        <p class="content" [innerHTML]="post.content | sanitizer"></p>
                    </div>
                    <div *ngIf="post.created_at != post.updated_at" class="post-footer">
                        <p ngbTooltip="{{'UPDATED'|translate}} {{post.updated_at| ago}}">{{post.updated_at | ago}}</p>
                    </div>
                </div>
            </div>
            <div class="editor-parent" *ngIf="listPosts.can_post && userLogged">
                <div class="editor-user">
                    <div class="user-card">
                        <app-avatar [user]="userLogged.userData"></app-avatar>
                        <div class="text">
                            <a routerLink="/user/profile/{{userLogged.userData.id}}"
                                ngbTooltip="{{'VIEW_SELF_PROFILE'|translate}}">{{userLogged.userData.nick}}</a>
                            <small ngbTooltip="{{userLogged.userData.public_role.description}}"
                                placement="bottom">{{userLogged.userData.public_role.name}}</small>
                        </div>
                    </div>
                    <div class="editor">
                        <angular-editor id="editor" [(ngModel)]="content" [config]="editorConfig"></angular-editor>
                    </div>
                </div>
                <button type="submit" [disabled]="content.length == 0 || content.length > 10_000 || posting" class="btn-s"
                    (click)="onSubmit()">
                    <span *ngIf="posting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    {{"SEND"|translate}}
                </button>
                <div *ngIf="error != ''" class="error">
                    <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{error}}
                </div>
            </div>
        </div>
        <div class="list-footer">
            <app-pagination [current_page]="listPosts.page.current" [last_page]="listPosts.page.last"
                (changePage)="changePage($event)"></app-pagination>
            <div class="c">
                <div>{{'TOTAL_POSTS'|translate}} {{listPosts.page.total}}</div>
                <div>{{'PAGE'|translate}} {{listPosts.page.current}}/{{listPosts.page.last}}</div>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteModalPoll let-modal>
    <div class="modal-header">
        <h3 class="modal-title">{{"CONFIRM_DELETE"|translate}}</h3>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>{{"CONFIRM_DELETE_POLL"|translate}}: {{pollResults?.name}} ({{'WITH'|translate}} {{pollResults?.votes}} {{'VOTE'|translate}}{{pollResults?.votes != 1 ? 's': ''}})</p>
    </div>
    <div class="modal-footer d-felx justify-content-between">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">{{"CANCEL"|translate}}</button>
        <button type="button" class="btn btn-danger" (click)="deletePoll(); modal.close('Close click')">{{"DELETE"|translate}}</button>
    </div>
</ng-template>

<ng-template #deleteModalTopic let-modal>
    <div class="modal-header">
        <h3 class="modal-title">{{"CONFIRM_DELETE"|translate}}</h3>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>{{"CONFIRM_DELETE_TOPIC"|translate}} {{listPosts.topic.title | capitalize}}</p>
    </div>
    <div class="modal-footer d-felx justify-content-between">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">{{"CANCEL"|translate}}</button>
        <button type="button" class="btn btn-danger"
            (click)="deleteTopic(listPosts.topic.id); modal.close('Close click')">{{"DELETE"|translate}}</button>
    </div>
</ng-template>

<ng-template #deleteModalPost let-modal>
    <div class="modal-header">
        <h3 class="modal-title">{{"CONFIRM_DELETE"|translate}}</h3>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>{{"CONFIRM_DELETE_POST"|translate}} {{post_by}}</p>
    </div>
    <div class="modal-footer d-felx justify-content-between">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">{{"CANCEL"|translate}}</button>
        <button type="button" class="btn btn-danger" (click)="deletePost(post_delete); modal.close('Close click')">{{"DELETE"|translate}}</button>
    </div>
</ng-template>