<div class="list-page {{theme}}">
    <div class="list" *ngIf="loading">
        <div class="list-header">
            <span>
                <app-loading height="53px" width="400px"></app-loading>
            </span>
            <app-loading height="40px" width="200px"></app-loading>
        </div>
        <div class="list-body">
            <div class="posts">
                <div class="user-card">
                    <app-loading appa="circle"></app-loading>
                    <div class="text">
                        <p>
                            <app-loading height="25px" width="70px"></app-loading>
                        </p>
                        <small><app-loading height="20px" width="40px"></app-loading></small>
                    </div>
                </div>
                <div class="post-main">
                    <div class="post-body">
                        <div class="post-header">
                            <p><app-loading height="25px" width="80px"></app-loading></p>
                        </div>
                        <p class="content"><app-loading height="150px" width="100%"></app-loading></p>
                    </div>
                </div>
            </div>
            <div class="posts" *ngFor="let _ of [0,1,2,3]">
                <div class="user-card">
                    <app-loading appa="circle"></app-loading>
                    <div class="text">
                        <p><app-loading height="25px" width="70px"></app-loading></p>
                        <small><app-loading height="20px" width="40px"></app-loading></small>
                    </div>
                </div>
                <div class="post-main">
                    <div class="post-body">
                        <div class="post-header">
                            <p><app-loading height="25px" width="70px"></app-loading></p>
                        </div>
                        <p class="content"><app-loading height="150px" width="100%"></app-loading></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-footer">
            <app-loading height="35px" width="180px"></app-loading>
        </div>
    </div>

    <div class="list" *ngIf="!loading">
        <div class="list-header">
            <h1 class="h1-title" routerLink="/category/{{listPosts.category.id}}">{{listPosts.category.title |
                capitalize}}</h1>
            <div class="subt">
                <h2>{{listPosts.topic.title | capitalize}}</h2>
                <div class="two-options">
                    <a class="btn-a" *ngIf="listPosts.can_post" routerLink="/post/create">
                        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        Create new Post</a>
                    <a class="btn-a" routerLink="/topic/{{listPosts.topic.id}}/poll/create" *ngIf="listPosts.can_poll">
                        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        Create Poll</a>
                </div>
            </div>
        </div>
        <div *ngIf="listPosts.poll">
            <div *ngIf="!showResults">
                <h4>Poll: {{listPosts.poll.name}}</h4>
                <a routerLink="/topic/{{listPosts.topic.id}}/poll/edit" *ngIf="listPosts.poll.can_edit">Edit</a>
                <div class="poll-options" *ngFor="let option of listPosts.poll.options">
                    <input type="radio" name="poll" id="option-{{option.id}}" [(ngModel)]="vote" [value]="option.id"
                        class="option-radio">
                    <label for="option-{{option.id}}" class="option-label">{{option.option}}</label>
                </div>
                <button (click)="onVote()" [disabled]="vote == null">Vote</button>
                <button (click)="onShowPollResults()">Show results</button>
            </div>
            <div *ngIf="pollResults && showResults">
                <h4>Poll: {{pollResults.name}}</h4>
                <div class="poll-vote" [class]="option.voted ? 'voted' : '' "
                    *ngFor="let option of pollResults.options">
                    {{option.option}} : {{option.votes}}
                </div>
                <button (click)="onShowPollResults()" *ngIf="listPosts.poll.can_vote">Back to vote</button>
            </div>
            <p *ngIf="listPosts.poll.finish_date">Finishes: {{listPosts.poll.finish_date | date }}</p>
        </div>
        <div class="list-body">
            <div *ngIf="listPosts.topic.user" class="posts">
                <div class="user-card">
                    <app-avatar [user]="listPosts.topic.user"></app-avatar>
                    <div class="text">
                        <a routerLink="/user/profile/{{listPosts.topic.user.id}}">{{listPosts.topic.user.nick}}</a>
                        <small>{{listPosts.topic.user.rol}}</small>
                    </div>
                </div>
                <div class="post-main">
                    <div class="post-body">
                        <div class="post-header">
                            <p class="post-date">{{listPosts.topic.created_at | date}}</p>
                            <div *ngIf="listPosts.can_edit" class="edit-buttons">
                                <button class="btn-edit" type="button"><fa-icon
                                        [icon]="['fas', 'pen']"></fa-icon></button>
                                <button class="btn-delete" type="button"><fa-icon
                                        [icon]="['fas', 'trash']"></fa-icon></button>
                            </div>
                        </div>
                        <p class="content" [innerHTML]="listPosts.topic.content"></p>
                    </div>
                    <div *ngIf="listPosts.topic.created_at != listPosts.topic.updated_at" class="post-footer">
                        <p>{{listPosts.topic.updated_at | date}}</p>
                    </div>
                </div>
            </div>
            <div class="posts" *ngFor="let post of listPosts.posts">
                <div class="user-card">
                    <app-avatar [user]="post.user"></app-avatar>
                    <div class="text">
                        <a routerLink="/user/profile/{{post.user.id}}">{{post.user.nick}}</a>
                        <small>{{post.user.rol}}</small>
                    </div>
                </div>
                <div class="post-main">
                    <div class="post-body">
                        <div class="post-header">
                            <p class="post-date">{{post.created_at | date}}</p>
                            <div *ngIf="post.can_edit" class="edit-buttons">
                                <button class="btn-edit" type="button"><fa-icon
                                        [icon]="['fas', 'pen']"></fa-icon></button>
                                <button class="btn-delete" type="button" (click)="deletePost(post.id)"><fa-icon
                                        [icon]="['fas', 'trash']"></fa-icon></button>
                            </div>
                        </div>
                        <p class="content" [innerHTML]="post.content"></p>
                    </div>
                    <div *ngIf="post.created_at != post.updated_at" class="post-footer">
                        <p>{{post.updated_at | date}}</p>
                    </div>
                </div>
            </div>
            <div class="editor-parent" *ngIf="listPosts.can_post && userLogged">
                <div class="editor-user">
                    <div class="user-card">
                        <app-avatar [user]="userLogged.userData"></app-avatar>
                        <div class="text">
                            <a routerLink="/user/profile/{{userLogged.userData.id}}">{{userLogged.userData.nick}}</a>
                            <small>{{userLogged.userData.rol}}</small>
                        </div>
                    </div>
                    <div class="editor">
                        <angular-editor id="editor" [(ngModel)]="content" [config]="editorConfig"></angular-editor>
                    </div>
                </div>
                <input type="submit" [disabled]="content.length == 0 || content.length > 10_000" class="btn-s"
                    (click)="onSubmit()">
                <div *ngIf="error != ''" class="error">
                    <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{error}}
                </div>
            </div>
        </div>
        <div class="list-footer">
            <app-pagination [current_page]="listPosts.page.current" [last_page]="listPosts.page.last"
                (changePage)="changePage($event)"></app-pagination>
            <div class="c">
                <div>Total Posts: {{listPosts.page.total}}</div>
                <div>Page: {{listPosts.page.current}}/{{listPosts.page.last}}</div>
            </div>
        </div>
    </div>
</div>