<div class="list-page {{theme}}">
    <div class="loading" *ngIf="loading">
        <!-- <fa-icon [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon> -->
        <p>Loading ...</p>
        <p *skeleton="loading;
                        height: '20px';
                        width: '600px'">
            {{ listPosts.category.title }}
        </p>
        <section class="flex">

            <ng-container *skeleton="loading;
                                   repeat: 5;
                                   className: 'mb-2';
                                   height: '100px';">

                <div *ngFor="let num of [1,2, 3]">
                    {{ num }}
                </div>

            </ng-container>
        </section>
        <ng-container *skeleton="loading;
                                 repeat: 5;
                                 className: 'm-2';
                                 height: '30px';
                                 width: 'rand'">

            <div *ngFor="let num of [1,2, 3, 4, 5]">
                {{ num }}
            </div>

        </ng-container>
    </div>
    <div class="list" *ngIf="!loading">
        <div class="list-header">
            <h1><a routerLink="/category/{{listPosts.category.id}}">{{listPosts.category.title}}</a></h1>
            <h2>{{listPosts.topic.title}}</h2>
            <a *ngIf="listPosts.can_post" routerLink="/post/create">Create new Post</a>
        </div>
        <div class="list-body">
            <div *ngIf="listPosts.topic.user" class="posts">
                <div class="user-card">
                    <app-avatar [user]="listPosts.topic.user"></app-avatar>
                    <div class="text">
                        <a routerLink="/user/profile/{{listPosts.topic.user.id}}">{{listPosts.topic.user.nick}}</a>
                        <small>{{listPosts.topic.user.rol}}</small>
                    </div>
                </div>
                <div class="post-main">
                    <div class="post-body">
                        <div class="post-header">
                            <p>{{listPosts.topic.created_at | date}}</p>
                            <div *ngIf="listPosts.can_edit" class="edit-buttons">
                                <button type="button">Edit</button>
                                <button type="button">Delete</button>
                            </div>
                        </div>
                        <p class="content" [innerHTML]="listPosts.topic.content"></p>
                    </div>
                    <div *ngIf="listPosts.topic.created_at != listPosts.topic.updated_at" class="post-footer">
                        <p>{{listPosts.topic.updated_at | date}}</p>
                    </div>
                </div>
            </div>
            <div class="posts" *ngFor="let post of listPosts.posts">
                <div class="user-card">
                    <app-avatar [user]="post.user"></app-avatar>
                    <div class="text">
                        <a routerLink="/user/profile/{{post.user.id}}">{{post.user.nick}}</a>
                        <small>{{post.user.rol}}</small>
                    </div>
                </div>
                <div class="post-main">
                    <div class="post-body">
                        <div class="post-header">
                            <p>{{post.created_at | date}}</p>
                            <div *ngIf="post.can_edit" class="edit-buttons">
                                <button type="button">Edit</button>
                                <button type="button" (click)="deletePost(post.id)">Delete</button>
                            </div>
                        </div>
                        <p class="content" [innerHTML]="post.content"></p>
                    </div>
                    <div *ngIf="post.created_at != post.updated_at" class="post-footer">
                        <p>{{post.updated_at | date}}</p>
                    </div>
                </div>
            </div>
            <div class="editor-parent" *ngIf="listPosts.can_post">
                <div class="editor">
                    <angular-editor id="editor" [(ngModel)]="content" [config]="editorConfig"></angular-editor>
                </div>
                <input type="submit" [disabled]="content.length == 0 || content.length > 10_000" class="btn btn-primary"
                    (click)="onSubmit()">
                <div *ngIf="error != ''" class="error">
                    <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{error}}
                </div>
            </div>
        </div>
        <div class="list-footer">
            <app-pagination [current_page]="listPosts.current_page" [last_page]="listPosts.last_page"
                (changePage)="changePage($event)"></app-pagination>
        </div>
    </div>
</div>