// VARIABLES
@import "../../styles/vars";

// FUNCTIONS
@import "../../styles/mixins";

.avatar {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  @include mobile() {
    width: 65px;
    height: 65px;
  }
  @include mini() {
    width: 50px;
    height: 50px;
  }
}

