<div class="list-page {{theme}}">
    <div class="loading" *ngIf="loading">
        <fa-icon [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
        <p>Loading ...</p>
    </div>
    <div class="list" *ngIf="!loading">
        <div class="list-header">
            <h1>Category: {{category.title}}</h1>
            <a routerLink="/topic/create">Create new Topic</a>
        </div>
        <div class="list-body">
            <ul>
                <li *ngFor="let topic of topics" routerLink="/topic/{{topic.id}}">
                    <div class="title">
                        <div>
                            <h2>Topic: {{topic.title}}</h2>
                            <h3 routerLink="/user/profile/{{topic.user.id}}">By {{topic.user.nick}}</h3>
                        </div>
                        <div class="row">
                            <div class="buttons">
                                <!-- <button *ngIf="topic.can_edit">Edit</button> -->
                                <button type="button">Edit</button>
                                <button type="button">Delete</button>
                            </div>
                            <p>{{topic.created_at | date}}</p>
                        </div>
                    </div>
                    <p>{{topic.description}}</p>
                    <p>11 posts (3h ago)</p>
                    <!-- <a routerLink="/topic/{{topic.id}}">View</a> -->
                </li>
            </ul>
        </div>
        <div class="list-footer">
            <button type="button" (click)="scrollToTop()">Back to top</button>
            <div class="pagination">
                <a routerLink="/category/{{category.id}}" [queryParams]="{page: i+1}" (click)="changePage(i+1)"
                    [class]="{'active': current_page == i+1}"
                    *ngFor="let item of [].constructor(last_page); let i = index">{{i+1}}</a>
            </div>
        </div>
    </div>
</div>