<div class="list-page {{theme}}">
    <div class="loading" *ngIf="loading">
        <fa-icon [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
        <p>Loading ...</p>
    </div>
    <div class="list" *ngIf="!loading">
        <div class="list-header">
            <h1>{{category.title}}</h1>
            <a *ngIf="category.can_post" routerLink="/topic/create">Create new Topic</a>
        </div>
        <div class="list-body">
            <ul>
                <li class="topics" *ngFor="let topic of topics">
                    <div class="topic-user">
                        <app-avatar [user]="topic.user"></app-avatar>
                        <div class="title">
                            <h2 routerLink="/topic/{{topic.id}}">{{topic.title}}</h2>
                            <div class="text">
                                <a routerLink="/user/profile/{{topic.user.id}}">{{topic.user.nick}}</a>
                                <small>{{topic.created_at | date}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="topic-stats">
                        <p>11 posts</p>
                    </div>
                    <div class="last-post">
                        <app-avatar [user]="topic.lastPost.user"></app-avatar>
                        <div class="text">
                            <a routerLink="/user/profile/{{topic.lastPost.user.id}}">{{topic.lastPost.user.nick}}</a>
                            <small>{{topic.lastPost.created_at}}</small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="list-footer">
            <!-- <button type="button" (click)="scrollToTop()">Back to top</button> -->
            <app-pagination [current_page]="current_page" [last_page]="last_page"
                (changePage)="changePage($event)"></app-pagination>
        </div>
    </div>
</div>