// VARIABLES
@import "../../styles/vars";

// MIXIONS
@import "../../styles/mixins";

.pagination {
  &.dark {
    a {
      color: $color-white-clear;
      border: 1px solid $color-white-clear;
      &:hover:not(.active) {
        background-color: $color-black-grey;
      }
      &.active {
        color: $color-white-clear;
        background-color: $color-gradient4;
        border: 1px solid $color-gradient4;
      }
      &.active-alt {
        color: $color-black-clear;
        border: 1px solid $color-black-clear;
      }
    }
  }
  &.light {
    a {
      color: $color-black-clear;
      border: 1px solid $color-grey-dark;
      &:hover:not(.active) {
        background-color: $color-grey-clear;
      }
      &.active {
        color: $color-white-clear;
        background-color: $color-gradient6;
        border: 1px solid $color-gradient6;
      }
      &.active-alt {
        color: $color-grey-clear;
        border: 1px solid $color-grey-clear;
      }
    }
  }
  display: inline-block;
  a {
    cursor: pointer;
    padding: 8px 16px;
    text-decoration: none;
    &.active,
    &.active-alt {
      cursor: default;
      pointer-events: none;
    }
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  @include mini() {
    a {
      padding: 8px 12px;
    }
  }
}