.pagination {
  display: inline-block;
}

.pagination a {
  cursor: pointer;
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  cursor: default;
  pointer-events: none;
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}
.pagination a.active-alt {
  cursor: default;
  pointer-events: none;
  color: #5c5c5c;
  border: 1px solid #5c5c5c;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}