@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@function opacity($hex, $o) {
  @return rgba($hex, $o);
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return $color-black-clear;
  } @else {
    @return $color-white-clear;
  }
}

@mixin btn($color, $inici) {
  width: 100%;
  cursor: pointer;
  font-size: $size-btn;
  font-family: $font-text;
  letter-spacing: 1.5px;
  font-weight: weight(bold);
  position: relative;
  padding: 16px;
  border: none;
  background-color: transparent;
  outline: none;
  color: $color;
  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: $inici;
    height: $inici;
    border: 5px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  &::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: $color;
    border-right-color: $color;
  }
  &::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: $color;
    border-left-color: $color;
  }
  &:hover:after,
  &:hover:before {
    width: 100%;
    height: 100%;
  }
  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    &:hover:after,
    &:hover:before {
      width: $inici;
      height: $inici;
    }
  }
}

@mixin btn1($color) {
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: $size-btn;
  font-family: $font-btn;
  font-weight: weight(bold);
  color: $color-white-clear;
  background-color: $color;
  transition: 0.5s;
  &:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
  &:active {
    transform: translateY(4px);
    box-shadow: rgba(240, 46, 170, 0.4) 1px 1px, rgba(240, 46, 170, 0.3) 5px 5px,
      rgba(240, 46, 170, 0.2) 10px 10px, rgba(240, 46, 170, 0.1) 15px 15px,
      rgba(240, 46, 170, 0.05) 20px 20px;
  }
  &:disabled {
    color: $color-white-grey;
    background-color: $color-dark-loading;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
}

@mixin btn2($color) {
  border: none;
  border-radius: 999px;
  padding: 4px 12px;
  cursor: pointer;
  font-size: $size-btn2;
  font-family: $font-btn;
  font-weight: weight(bold);
  background-color: $color;
  transition: background-color 0.5s;
  &:hover {
    background-color: opacity($color, 0.8);
  }
  &:active {
    background-color: opacity($color, 0.6);
  }
  &:disabled {
    color: $color-white-grey;
    background-color: $color-dark-loading;
    cursor: not-allowed;
  }
}

@mixin btn0($color) {
  margin-top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  padding: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: $size-text;
  background-color: $color;
  transition: 0.5s;
  &:hover {
    background-color: opacity($color, 0.8);
  }
  &:active {
    background-color: opacity($color, 0.6);
  }
  &:disabled {
    color: $color-white-grey;
    background-color: $color-dark-loading;
    cursor: not-allowed;
  }
}

@mixin btn3() {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  padding: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: $size-drop;
  background-color: transparent;
  transition: 0.5s;
}

@mixin a-link($color1, $color2, $color3) {
  color: $color1;
  &:hover {
    color: $color2;
  }
  &:active {
    color: $color3;
  }
}

// Display flex
@mixin flex($dir, $align, $space, $gap: 0px) {
  display: flex;
  align-items: $align;
  justify-content: $space;
  flex-direction: $dir;
  gap: $gap;
}

@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center2() {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin col-center($space, $gap: 0px) {
  display: flex;
  align-items: center;
  justify-content: $space;
  flex-direction: column;
  gap: $gap;
}

@mixin col($space, $gap: 0px) {
  display: flex;
  align-items: flex-start;
  justify-content: $space;
  flex-direction: column;
  gap: $gap;
}

@mixin row($space, $gap: 0px) {
  display: flex;
  align-items: center;
  justify-content: $space;
  flex-direction: row;
  gap: $gap;
}

@mixin sha($x: -15px, $y: -10px) {
  -webkit-filter: drop-shadow($x $y 1px rgba(0, 0, 0, 0.2));
  filter: drop-shadow($x $y 1px rgba(0, 0, 0, 0.2));
}

// Responsive
@mixin mobile() {
  @media (max-width: $size-mobile) {
    @content;
  }
}

@mixin tablet() {
  @media (max-width: $size-tablet) {
    @content;
  }
}

@mixin sidebar() {
  @media (max-width: 1150px) {
    @content;
  }
}

@mixin topic-maybe() {
  @media (max-width: 1500px) {
    @content;
  }
}

@mixin mini() {
  @media (max-width: $size-mini) {
    @content;
  }
}

// For the background gradient
@mixin bg-gradient() {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// For standard transitions
@mixin transition($ease) {
  transition: all 0.5s $ease;
}

// Testing
@mixin theme($light-theme: true) {
  @if $light-theme {
    background-color: lighten($color-primary, 100%);
    color: darken($color-p, 100%);
  }
}

// For development
@mixin b() {
  border: 2px solid red;
}

@mixin no() {
  display: none;
}

.no {
  @include no;
}
