// COLORS

$color-primary: #0cf25d;
$color-secondary: #ff9537;
$color-tertiary: #ff697d;
$color-quart: #00b1ff;

$color-shades1: #00c12e;
$color-shades2: #009200;
$color-shades3: #006400;
$color-shades4: #003a00;

$color-gradient1: #00de9a;
$color-gradient2: #00c5cf;
$color-gradient3: #00a9f4;
$color-gradient4: #0089fc;
$color-gradient5: #0063e5;
$color-gradient6: #8c4dde;

$color-primary1: #034159;
$color-primary2: #025951;
$color-primary3: #02735e;
$color-primary4: #038c3e;

$color-grey-dark: #3d4a3d;
$color-grey-clear: #a0afa0;

$color-black: #000;
$color-white: #fff;
$color-black-clear: #111;
$color-white-clear: #eee;
$color-black-opacity: rgba($color-black-clear, 0.5);
$color-white-opacity: rgba($color-white-clear, 0.5);

$color-black-grey: #333;
$color-white-grey: #aeaaaa;
$color-dark-loading: #585555;
$color-white-dark: #888;
// Letter
// $color-title: $color-secondary;
// $color-subtitle: $color-shades2;
// $color-p: $color-white;
// $color-a: $color-gradient1;
// $color-a-hover: $color-gradient2;
// $color-a-active: $color-gradient3;
// $color-bg-input: opacity($color-black, 0.6);
// Messages
$color-error: $color-tertiary;
$color-success: $color-primary;
$color-info: $color-quart;
$color-cancel: $color-grey-clear;

//SIZES
$size-form: 1000px;
$size-cont: 1600px;

$size-tablet: 1000px;
$size-mobile: 800px;
$size-mini: 500px;

$size-icon-footer: 30px;
$size-icon-form: 25px;

$height-header: 80px;
$height-header-small: $height-header - 40px;
$height-footer: 100px;
$height-footer-mobile: $height-footer + 150px;

$height-subtract: $height-header + $height-footer;
$height-subtract-mobile: $height-header + $height-footer-mobile;

// Fonts
$size-p: 18px;
$size-title: 32px;
$size-subtitle: 24px;
$size-subtitle-small: 18px;
$size-text: 15px;
$size-btn: 20px;

$font-titles: "Roboto";
$font-text: "Sans";
$font-btn: "Roboto";

// Examples

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
