// VARIABLES
@import "./vars";

// FUNCTIONS
@import "./mixins";

.card-container {
  @include center;
  padding: 64px;
  // Dark theme
  &.dark {
    .card {
      background-color: $color-black-clear;
      color: $color-white-clear;
      a {
        @include a-link($color-gradient3, $color-gradient2, $color-gradient1);
      }
    }
  }
  // Light theme
  &.light {
    .card {
      background-color: $color-white-clear;
      color: $color-black-clear;
      a {
        @include a-link($color-gradient6, $color-gradient5, $color-gradient4);
      }
    }
  }
  .card {
    @include flex(row, flex-start, space-around, 64px);
    width: 800px;
    padding: 32px 64px;
    border-radius: 24px;
    font-family: $font-text;
    .card-user {
      @include col(space-around, 24px);
      width: 100%;
      .card-header {
        width: 100%;
        @include flex(row, flex-start, space-between);
        .title {
          @include row(space-between, 24px);
          .text {
            @include col(space-between, 16px);
          }
        }
        .btns {
          @include col(space-between, 16px);
        }
      }
      .data {
        @include row(space-between, 16px);
      }
      img {
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        width: 100px;
        height: 100px;
      }
      .card-footer {
        @include row(space-around, 32px);
        .data {
          @include row(space-between, 16px);
        }
      }
    }
  }
  // Responsive for tablet
  @include tablet() {
    padding: 32px;
  }
  // Responsive for mobile
  @include mobile() {
    padding: 32px 16px;
    .card {
      width: 600px;
      padding: 32px;
      .card-user {
        .card-header {
          .title {
            @include row(space-between, 16px);
          }
        }
        .card-footer {
          @include col(space-around, 24px);
        }
      }
    }
  }
}

.list-page {
  @include center;
  padding: 64px;
  // Dark theme
  &.dark {
    .list {
      background-color: $color-primary1;
      color: $color-white-clear;
      .user-card {
        .text {
          a {
            @include a-link(
              $color-gradient4,
              $color-gradient5,
              $color-gradient6
            );
          }
        }
      }
      .list-header {
        h1 {
          a {
            @include a-link(
              $color-gradient4,
              $color-gradient5,
              $color-gradient6
            );
          }
        }
      }
      .list-body {
        .topic {
          background-color: $color-black-grey;
        }
        .post {
          background-color: $color-black-grey;
        }
        .topics {
          background-color: $color-black-grey;
          border: 2px solid $color-black;
          .topic-info {
            border-right: 2px solid $color-black;
            .topic-user {
              border-right: 2px solid $color-black;
            }
          }
        }
        ul li {
          background-color: $color-black-grey;
          a {
            @include a-link(
              $color-gradient4,
              $color-gradient5,
              $color-gradient6
            );
          }
        }
      }
    }
    .loading {
      background-color: $color-black-clear;
      color: $color-white-clear;
    }
    @include tablet() {
      .list {
        .list-body {
          .topics {
            .topic-info {
              border-bottom: 2px solid $color-black;
              border-right: none;
            }
          }
        }
      }
    }
  }
  // Light theme
  &.light {
    .list {
      background-color: $color-primary3;
      color: $color-black-clear;
      .user-card {
        .text {
          a {
            @include a-link(
              $color-gradient6,
              $color-gradient5,
              $color-gradient4
            );
          }
        }
      }
      .list-header {
        h1 {
          a {
            @include a-link(
              $color-gradient6,
              $color-gradient5,
              $color-gradient4
            );
          }
        }
      }
      .list-body {
        .topic {
          background-color: $color-grey-clear;
        }
        .post {
          background-color: $color-grey-clear;
        }
        .topics {
          background-color: $color-black-grey;
          border: 2px solid $color-white;
          .topic-info {
            border-right: 2px solid $color-white;
            .topic-user {
              border-right: 2px solid $color-white;
            }
          }
        }
        ul li {
          background-color: $color-grey-clear;
          a {
            @include a-link(
              $color-gradient6,
              $color-gradient5,
              $color-gradient4
            );
          }
        }
      }
    }
    .loading {
      background-color: $color-white-clear;
      color: $color-black-clear;
    }
    @include tablet() {
      .list {
        .list-body {
          .topics {
            .topic-info {
              border-bottom: 2px solid $color-white;
              border-right: none;
            }
          }
        }
      }
    }
  }
  .list {
    width: 1200px;
    padding: 32px 64px;
    font-family: $font-text;
    [ng-reflect-router-link] {
      cursor: pointer;
    }
    .user-card {
      padding: 16px;
      border-right: 2px solid $color-black;
      @include col(space-between);
      .text {
        @include col(space-between);
        word-break: break-all;
      }
    }
    .list-header {
      padding-bottom: 16px;
      h1 {
        text-align: center;
        font-family: $font-text;
        font-size: 50px;
      }
      img {
        display: block;
        margin: 8px auto;
        height: 100px;
      }
    }
    .list-body {
      .topics {
        @include flex(row, center, space-between);
        margin-bottom: 16px;
        .topic-info {
          flex: 1;
          @include row(space-between);
          .topic-user {
            flex: 1;
            padding: 16px;
            @include flex(row, center, flex-start, 16px);
            .topic-body {
              @include col(space-between, 8px);
              .title {
                p {
                  word-break: break-word;
                }
              }
              .text {
                @include row(space-between, 16px);
              }
            }
          }
          .topic-stats {
            width: 100px;
            padding: 16px;
            @include col(center, 8px);
          }
        }
        .last-post {
          width: 220px;
          padding: 16px;
          @include flex(row, flex-end, flex-end, 16px);
          .text {
            @include flex(column, flex-end, flex-end, 8px);
            padding-bottom: 8px;
          }
        }
      }
      .topic,
      .post {
        @include flex(row, flex-start, flex-start);
        border: 2px solid $color-black;
        margin: 0;
        padding: 0;
        margin-bottom: 16px;
        .post-body,
        .topic-body {
          margin: 0;
          padding: 0;
          padding: 16px;
          position: relative;
          height: 100%; //163px;
          width: 100%;
          // @include b;
          .topic-footer {
            padding: 8px;
            bottom: 0;
            right: 0;
            position: absolute;
          }
          // .post-header {
          //   padding: 8px;
          //   top: 0;
          //   left: 0;
          //   position: absolute;
          // }
          .post-header {
            padding: 8px;
            bottom: 0;
            right: 0;
            position: absolute;
          }
        }
        .edit-buttons {
          margin-left: auto;
          order: 5;
        }
      }
      .editor-parent {
        display: grid;
        place-content: center;
        .error {
          font-size: $size-text;
          color: $color-tertiary;
          text-align: center;
        }
        .editor {
          &.light {
            color: black;
            background-color: #a0afa0;
          }
          &.dark {
            color: white;
            background-color: #222;
          }
        }
      }
      ul {
        font-family: $font-text;
        list-style: none;
        li {
          // padding: 16px;
          // background-color: $color-black-grey;
          // margin-bottom: 8px;

          .categories {
            @include row(space-between);
            .cateogry {
              h2 {
                text-decoration: underline;
              }
            }
            .last-post {
              // @include b;
              @include row(space-between, 16px);
            }
          }
          a {
            @include a-link(
              $color-gradient4,
              $color-gradient5,
              $color-gradient6
            );
          }
          // &:hover {
          //   cursor: pointer;
          // }
        }
      }
    }
    .list-footer {
      @include row(center);
      padding-top: 32px;
    }
  }
  .loading {
    padding: 32px 64px;
    font-family: $font-text;
    font-size: $size-title;
    text-align: center;
  }
  // Responsive for tablet
  @include tablet() {
    padding: 32px;
    .list {
      width: 800px;
      padding: 32px;
      .list-body {
        .topics {
          @include flex(column, flex-start, space-between);
          .topic-info {
            width: 100%;
          }
          .last-post {
            flex-direction: row-reverse;
            padding: 8px 16px;
            .text {
              @include flex(column, flex-start, flex-start, 8px);
            }
          }
        }
      }
    }
  }
  // Responsive for mobile
  @include mobile() {
    padding: 24px;
    .list {
      width: 500px;
      padding: 24px;
      .list-header {
        img {
          height: 75px;
        }
      }
    }
  }
  // Responsive for mini
  @include mini() {
    padding: 16px;
    .list {
      width: 80vw;
      padding: 16px;
      .list-header {
        h1 {
          word-break: break-all;
        }
        img {
          height: 60px;
        }
      }
      .list-body {
        .topics {
          .topic-info {
            word-break: break-all;
            .topic-user{
              .topic-body{
                .text {
                  @include col(space-between, 8px);
                }
              }
            }
            .topic-stats {
              display: none;
            }
          }
        }
      }
    }
  }
}
