// VARIABLES
@import "./vars";

// FUNCTIONS
@import "./mixins";

.card-container {
  @include center;
  padding: 64px;
  // Dark theme
  &.dark {
    .card {
      background-color: $color-black-clear;
      color: $color-white-clear;
      a {
        @include a-link($color-gradient3, $color-gradient2, $color-gradient1);
      }
    }
  }
  // Light theme
  &.light {
    .card {
      background-color: $color-white-clear;
      color: $color-black-clear;
      a {
        @include a-link($color-gradient6, $color-gradient5, $color-gradient4);
      }
    }
  }
  .card {
    @include flex(row, flex-start, space-around, 64px);
    width: 800px;
    padding: 32px 64px;
    border-radius: 24px;
    font-family: $font-text;
    .card-user {
      @include col(space-around, 24px);
      width: 100%;
      .card-header {
        width: 100%;
        @include flex(row, flex-start, space-between);
        .title {
          @include row(space-between, 24px);
          .text {
            @include col(space-between, 16px);
          }
        }
        .btns {
          @include col(space-between, 16px);
        }
      }
      .data {
        @include row(space-between, 16px);
      }
      img {
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        width: 100px;
        height: 100px;
      }
      .card-footer {
        @include row(space-around, 32px);
        .data {
          @include row(space-between, 16px);
        }
      }
    }
  }
  // Responsive for tablet
  @include tablet() {
    padding: 32px;
  }
  // Responsive for mobile
  @include mobile() {
    padding: 32px 16px;
    .card {
      width: 600px;
      padding: 32px;
      .card-user {
        .card-header {
          .title {
            @include row(space-between, 16px);
          }
        }
        .card-footer {
          @include col(space-around, 24px);
        }
      }
    }
  }
}

.list-page {
  @include center;
  padding: 64px;
  // Dark theme
  &.dark {
    .list {
      background-color: $color-primary1;
      color: $color-white-clear;
      .list-body ul li {
        background-color: $color-black-grey;
        a {
          @include a-link($color-gradient4, $color-gradient5, $color-gradient6);
        }
      }
    }
    .loading {
      background-color: $color-black-clear;
      color: $color-white-clear;
    }
  }
  // Light theme
  &.light {
    .list {
      background-color: $color-primary4;
      color: $color-black-clear;
      .list-body ul li {
        background-color: $color-grey-clear;
        a {
          @include a-link($color-gradient6, $color-gradient5, $color-gradient4);
        }
      }
    }
    .loading {
      background-color: $color-white-clear;
      color: $color-black-clear;
    }
  }
  .list {
    width: 1200px;
    background-color: $color-primary1;
    color: $color-white-clear;
    padding: 32px 64px;
    font-family: $font-text;
    .list-header {
      padding-bottom: 16px;
      h1 {
        text-align: center;
        font-family: $font-text;
        font-size: 50px;
      }
      img {
        display: block;
        margin: 8px auto;
        height: 100px;
      }
    }
    .list-body {
      ul {
        font-family: $font-text;
        list-style: none;
        li {
          padding: 16px;
          background-color: $color-black-grey;
          margin-bottom: 8px;
          .title {
            @include flex(row, flex-start, space-between);
            h2 {
              text-decoration: underline;
            }
            .row {
              @include row(space-between, 16px);
              .buttons {
                @include row(space-between, 16px);
                button {
                  cursor: pointer;
                }
              }
            }
          }
          .categories {
            @include row(space-between);
            .cateogry {
              h2 {
              text-decoration: underline;
            }
            }
            .last-post {
              @include b;
              @include row(space-between);
            }
          }
          a {
            @include a-link(
              $color-gradient4,
              $color-gradient5,
              $color-gradient6
            );
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .list-footer {
      padding-top: 16px;
      button {
        cursor: pointer;
        // @include btn1($color-secondary)
      }
    }
  }
  .loading {
    padding: 32px 64px;
    font-family: $font-text;
    font-size: $size-title;
    text-align: center;
  }
  // Responsive for tablet
  @include tablet() {
    padding: 32px;
    .list {
      width: 800px;
      padding: 32px;
    }
  }
  // Responsive for mobile
  @include mobile() {
    padding: 24px;
    .list {
      width: 500px;
      padding: 24px;
      .list-header {
        img {
          height: 75px;
        }
      }
    }
  }
}
