// VARIABLES
@import "./vars";

// FUNCTIONS
@import "./mixins";

/*
SIMPLE - visual elements & nº options (no super simple)

Group elements by colors, proximity, shapes

Remember better first and last element of sequence

Easy access (click) - close and big

Shorten times (no lot of time)

Remember different element

20% -> 80%

Show incomplete tasks & visual progress & notifications

Divide into parts (<=7)

No changes
*/

// Containers
// .cont-two {
//   max-width: $size-cont;
// }
// .cont-center {
//   max-width: $size-cont;
//   margin: auto;
// }
// .grid {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   // grid-template-rows: ;
// }
// .side-bar {
//   grid-column: 1 / 2;
// }
// .content {
//   grid-column: 2 / 4;
// }
// Example
// .light {
//   @include theme($light-theme: true);
// }

// All the page
.page-container {
  position: relative;
  min-height: 100vh;
  // @include bg-gradient; // BG default
}

// Main container
.container-wrap {
  position: relative;
  min-height: calc(100vh - $height-subtract);
  padding-bottom: $height-footer;
  // @include bg-gradient; // maybe bg
  background-image: url("/assets/images/tech.jpg");
  background-origin: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  @include mobile {
    min-height: calc(100vh - $height-subtract-mobile);
    padding-bottom: $height-footer-mobile;
  }
}

// * Footer container
.footer {
  @include row(space-around);
  position: absolute;
  width: 100%;
  height: $height-footer;
  bottom: 0;
  left: 0;
  // Dark theme
  &.dark {
    color: $color-white-clear;
    background-color: $color-black-clear;
    a {
      @include a-link($color-gradient3, $color-gradient2, $color-gradient1);
    }
  }
  // Light theme
  &.light {
    color: $color-black-clear;
    background-color: $color-white-clear;
    a {
      @include a-link($color-gradient6, $color-gradient5, $color-gradient4);
      @include sha(-10px, -10px);
    }
    img {
      @include sha;
    }
  }
  p {
    font-family: $font-text;
    font-size: $size-p;
  }
  .footer-text {
    @include col(space-between, 8px);
  }
  .icons-footer {
    @include row(space-around);
    a {
      cursor: pointer;
      padding: 10px;
      font-size: $size-icon-footer;
      &:hover {
        animation: upAnimation 0.5s ease-in-out;
      }
    }
  }
  // Responsive for tablet
  @include tablet {
    .icons-footer a {
      padding: 8px;
    }
  }
  // Responsive for mobile
  @include mobile {
    @include col-center(space-evenly);
    height: $height-footer-mobile;
    .footer-text {
      @include col-center(space-between, 8px);
    }
  }
}

// * Header container
.header {
  z-index: 10;
  top: 0;
  position: sticky;
  @include row(flex-start, 50px);
  padding: 0 32px;
  height: $height-header;
  // Dark theme
  &.dark {
    background-color: $color-black-clear;
    a {
      @include a-link($color-gradient3, $color-gradient2, $color-gradient1);
    }
    button {
      color: $color-white-clear;
      &:hover {
        color: $color-secondary;
      }
    }
  }
  // Light theme
  &.light {
    background-color: $color-white-clear;
    a {
      @include a-link($color-gradient6, $color-gradient5, $color-gradient4);
    }
    button {
      color: $color-grey-dark;
      &:hover {
        color: $color-black-clear;
      }
    }
  }
  .logo {
    .logoIA {
      height: 50px;
    }
    .logoFORIA {
      height: 30px;
    }
    @include row(flex-start, 12px);
    &:hover {
      cursor: pointer;
    }
    &:hover .logoIA {
      animation: gir 4s cubic-bezier(0.37, 0.6, 0.82, 0.66) infinite;
    }
  }
  nav {
    @include row(space-between);
    width: 100%;
    ul {
      @include row(space-between, 50px);
      font-size: $size-subtitle;
      font-family: $font-text;
      li {
        list-style: none;
        fa-icon {
          margin-right: 12px;
        }
        img {
          margin-right: 12px;
        }
        a {
          text-decoration: none;
          font-weight: bold;
          padding-bottom: 5px;
          &.avatar {
            @include row(space-between);
            padding: 0;
            span {
              margin-left: 12px;
            }
          }
        }
        button {
          cursor: pointer;
          font-size: $size-subtitle;
          background-color: transparent;
          border: none;
        }
      }
    }
  }
  // Responsive for tablet
  @include tablet() {
    @include row(flex-start, 30px);
    padding: 0 16px;
    .logo .logoFORIA {
      @include no;
    }
    ul {
      @include row(space-between, 25px);
      fa-icon {
        margin-right: 8px;
      }
    }
  }
  // Responsive for mobile
  @include mobile() {
    @include row(flex-start, 20px);
    padding: 0 10px;
    form {
      display: none;
    }
    nav ul {
      @include row(flex-star, 20px);
      li {
        fa-icon {
          margin-right: 6px;
        }
        // Myabe do a navbar with only icons
        // a span {
        //   @include no;
        // }
      }
    }
  }
  @include mini(){
    nav ul {
      li {
        fa-icon {
          margin-right: 12px;
        }
        a span {
          @include no;
        }
      }
    }
  }
}

// When scroll down the nav height is small
.small {
  height: $height-header-small;
  .logo {
    .logoIA {
      height: 32px;
    }
    .logoFORIA {
      height: 18px;
    }
  }
  nav ul li {
    button {
      font-size: $size-subtitle-small;
    }
    font-size: $size-subtitle-small;
  }
}

// Loader
.page-loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  // Dark theme
  &.dark {
    background-color: $color-black-clear;
  }
  // Light theme
  &.light {
    background-color: $color-white-clear;
  }
  @include center;
  img {
    height: 400px;
    animation: gir 5s linear infinite;
  }
}

// Animation logoIA
@keyframes gir {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Animation icons footer
@keyframes upAnimation {
  50% {
    transform: scale(1.15);
  }
}

// Utilities
.b {
  border: 2px solid $color-tertiary;
}
