// VARIABLES
@import "./vars";

// FUNCTIONS
@import "./mixins";

// Forms: login, register, edit user, edit user preferences
.form-page {
  @include center;
  padding: 64px 0;
  // Dark theme
  &.dark {
    .form-container {
      background-color: $color-black-opacity;
      color: $color-white-clear;
      .btn2,
      .btn-a {
        color: $color-white-clear;
      }
      .fields .group {
        .field {
          .input {
            color: $color-white-clear;
            background-color: opacity($color-black, 0.4);
            &:focus {
              outline: $color-grey-clear solid thin;
            }
            &::placeholder {
              color: $color-grey-clear;
            }
          }
          .input.ng-valid + .icon {
            color: $color-shades1;
          }
          .date {
            background: opacity($color-black, 0.4);
            color: $color-white-clear;
            &::-webkit-calendar-picker-indicator {
              filter: invert(100%);
            }
          }
        }
        .row-field {
          input[type="checkbox"] {
            accent-color: $color-shades1;
          }
        }
        .check {
          input[type="checkbox"] {
            accent-color: $color-quart;
          }
        }
      }
      .btn-field .btn-send {
        @include btn($color-shades1, 20%);
      }
      .google .line hr {
        border-color: $color-white-clear;
      }
      .form-links {
        hr {
          border-color: $color-white-clear;
        }
        a {
          @include a-link($color-gradient4, $color-gradient3, $color-gradient2);
        }
        .btn2 {
          color: $color-white-clear;
          &:hover {
            color: $color-white-clear;
          }
          &:active {
            color: $color-white-clear;
          }
        }
      }
    }
    .form-container.ng-valid .btn-field .btn-icon {
      color: $color-shades1;
    }
  }
  // Light theme
  &.light {
    .form-container {
      background-color: $color-white-opacity;
      color: $color-black-clear;
      .btn2,
      .btn-a {
        color: $color-black-clear;
      }
      .fields .group {
        .field {
          .input {
            color: $color-black-clear;
            background-color: opacity($color-white, 0.4);
            &:focus {
              outline: $color-grey-dark solid thin;
            }
            &::placeholder {
              color: $color-grey-dark;
            }
          }
          .input.ng-valid + .icon {
            color: $color-primary;
          }
          .date {
            background: opacity($color-white, 0.4);
            color: $color-black-clear;
          }
        }
        .row-field {
          input[type="checkbox"] {
            accent-color: $color-primary;
          }
        }
        .check {
          input[type="checkbox"] {
            accent-color: $color-quart;
          }
        }
      }
      .btn-field .btn-send {
        @include btn($color-primary, 20%);
      }
      .google .line hr {
        border-color: $color-black-clear;
      }
      .form-links {
        hr {
          border-color: $color-black-clear;
        }
        a {
          @include a-link($color-gradient6, $color-gradient5, $color-gradient4);
        }
        .btn2 {
          color: $color-black-clear;
          &:hover {
            color: $color-black-clear;
          }
          &:active {
            color: $color-black-clear;
          }
        }
      }
    }
    .form-container.ng-valid .btn-field .btn-icon {
      color: $color-primary;
    }
  }
  .form-container {
    // Space that separate the items of the form
    @include col(space-around, 40px);
    // background: $color-opacity;
    backdrop-filter: blur(16px);
    // color: $color-white-clear;
    padding: 32px 64px;
    border-radius: 24px;
    font-family: $font-text;
    // The title of the form
    h2 {
      font-size: $size-title;
      letter-spacing: 1.2px;
      margin: auto;
    }
    // The error message
    h3 {
      text-align: center;
      color: $color-tertiary;
      max-width: 330px;
    }
    // The loading spinner
    h4 {
      margin: auto;
    }
    .btn2 {
      @include btn2($color-gradient2);
      text-decoration: none;
    }
    .btn-a {
      @include btn2($color-gradient1);
      text-decoration: none;
    }
    // All the input fileds
    .fields {
      // Space between the group input
      @include col(space-around, 24px);
      .group {
        // Space between the input and the error message
        @include col(space-between, 4px);
        .message-block {
          font-size: $size-text;
          color: $color-tertiary;
          margin-left: 16px;
        }
        // For display only one message of error
        .message-block div:not(:first-child) {
          display: none;
        }
        // For show passowrd eye icon
        .show {
          @include row(space-between);
          position: relative;
          .eye {
            position: absolute;
            right: 19%;
            cursor: pointer;
          }
        }
        .field {
          // Space between the input and the icon
          @include row(space-between, 32px);
          font-size: $size-p;
          .input {
            width: 300px;
            font-size: $size-p;
            padding: 16px;
            border: none;
            border-radius: 8px;
            // For autocomplete default properties
            &:-webkit-autofill,
            &:-webkit-autofill:focus {
              transition: all 1000000s;
            }
            &:disabled {
              cursor: not-allowed;
            }
          }
          .input.ng-invalid.ng-touched + .icon {
            color: $color-tertiary;
          }
          // .input.ng-valid + .icon {
          //   color: $color-shades1;
          // }

          // Border red for invalid input
          // .input.ng-invalid.ng-touched {
          //   outline: $color-tertiary solid thin;
          // }
        }
        // Inputs without a placeholder
        .col-field {
          font-size: $size-p;
          @include col(space-between, 8px);
          .check-avatar {
            @include row(space-between, 32px);
            label {
              font-size: $size-p;
              display: block;
              margin-bottom: 8px;
            }
            .avatar {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              object-fit: cover;
              object-position: center;
            }
            .check-delete {
              @include row(space-between, 16px);
              font-size: $size-p;
              cursor: pointer;
              input[type="checkbox"] {
                transform: scale(1.5);
                accent-color: $color-tertiary;
                cursor: pointer;
              }
              label {
                cursor: pointer;
              }
            }
          }
        }
        // For checkbox
        .row-field,
        .check {
          padding-left: 16px;
          font-size: $size-p;
          cursor: pointer;
          @include row(space-between, 16px);
          input[type="checkbox"] {
            transform: scale(1.5);
            cursor: pointer;
          }
          label {
            cursor: pointer;
          }
        }
        .check {
          padding: 12px 120px 12px 0;
        }
      }
    }
    // The button for submit
    .btn-field {
      width: 100%;
      // Space between the button and the icon
      @include row(space-between, 24px);
      .btn-send {
        @include btn($color-shades1, 20%);
      }
      .btn-icon {
        color: transparent;
      }
    }
    // Login with google
    .google {
      width: 300px;
      @include col-center(space-between, 8px);
      .line {
        width: 100%;
        margin-bottom: 8px;
        @include row(center, 8px);
        hr {
          width: 100%;
          border-radius: 8px;
        }
      }
    }
    // Links in the form
    .form-links {
      @include col(space-around, 16px);
      hr {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 12px;
      }
      a {
        cursor: pointer;
      }
    }
  }
  // Change the color of the okey icon (btn-icon) when the form is valid
  .form-container.ng-valid .btn-field .btn-icon {
    color: $color-shades1;
  }
  // Responsive for tablet
  @include tablet {
    padding: 48px 0;
    .form-container {
      padding: 32px 48px;
    }
  }
  // Responsive for mobile
  @include mobile {
    padding: 16px 0;
    .form-container {
      // Space that separate the items of the form
      @include col(space-around, 32px);
      padding: 32px;
      .fields {
        // Space between the inputs
        @include col(space-around, 20px);
        .group {
          .field {
            // Space between the input and the icon
            @include row(space-between, 24px);
            .input {
              width: min(280px, 75vw);
            }
          }
          .col-field {
            .check-avatar {
              @include col-center(space-between, 16px);
            }
          }
        }
      }
      .google {
        width: min(280px, 75vw);
      }
      .form-links {
        width: min(280px, 75vw);
      }
      .btn-field {
        // Space between the button and the icon
        @include row(space-between, 24px);
      }
    }
    // Responsive for mobile
    .form-container.ng-valid .btn-field .btn-send {
      @include btn($color-shades1, 100%);
    }
  }
  // Responsive for mini
  @include mini {
    padding: 16px 0;
    .form-container {
      padding: 32px 16px;
      .fields {
        .group {
          .field {
            // Space between the input and the icon
            @include row(space-between, 20px);
            .input {
              width: min(280px, 72vw);
            }
          }
        }
      }
      .google {
        width: min(280px, 72vw);
      }
      .form-links {
        width: min(280px, 72vw);
      }
      .btn-field {
        // Space between the button and the icon
        @include row(space-between, 20px);
      }
    }
  }
}
