<div class="form-page {{theme}}">
    <form [formGroup]="formLogin" (ngSubmit)="submit()" class="form-container">
        <h2>{{"LOGIN"| translate}}</h2>
        <h3 *ngIf="error"><fa-icon [icon]="['fas', 'circle-exclamation']"></fa-icon> {{error}}</h3>
        <h4 *ngIf="loading"><fa-icon [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon> Loading ...</h4>
        <h4 *ngIf="googleEmail !== ''">{{"ACC_CONFIRM"|translate}}</h4>
        <div class="fields">
            <div class="group">
                <div class="field">
                    <input type="email" autocomplete="email" formControlName="email" [(ngModel)]="authData.email"
                        class="input" placeholder="Email" required>
                    <fa-icon class="icon" [icon]="['fas', 'envelope']"></fa-icon>
                </div>
                <div class="message-block" *ngIf="!email?.valid && email?.touched">
                    <ng-container *ngFor="let validation of validationMessagesLogin.email | keyvalue">
                        <div *ngIf="email?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="group">
                <div class="show">
                    <div class="field">
                        <input type="{{ canShow  ? 'text': 'password'}}" autocomplete="current-password"
                            formControlName="password" [(ngModel)]="authData.password" class="input"
                            placeholder="{{'PASSWORD' |translate}}" required>
                        <fa-icon class="icon" [icon]="['fas', 'lock']"></fa-icon>
                    </div>
                    <fa-icon class="eye" [icon]="['fas', canShow ? 'eye':'eye-slash']" (click)="changeShow()" ngbTooltip="{{canShow ? 'Hide': 'Show'}} the Password" placement="bottom"></fa-icon>
                </div>
                <div class="message-block" *ngIf="!password?.valid && password?.touched">
                    <ng-container *ngFor="let validation of validationMessagesLogin.password | keyvalue">
                        <div *ngIf="password?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="group">
                <div class="row-field">
                    <input type="checkbox" id="remember" formControlName="remember_me"
                        [(ngModel)]="authData.remember_me">
                    <label for="remember">Remember Me</label>
                </div>
            </div>
        </div>
        <div class="btn-field">
            <button [disabled]="!formLogin.valid" class="btn-send" type="submit">
                Login
            </button>
            <fa-icon class="btn-icon" [icon]="['fas', 'thumbs-up']"></fa-icon>
        </div>
        <div class="google">
            <div class="line">
                <hr>
                <p>or</p>
                <hr>
            </div>
            <div id="g_id_onload" *ngIf="development"
                data-client_id="659899542369-75udpfmm6ekm5kk6lescibk4u55jlj0c.apps.googleusercontent.com"
                data-context="signin" data-ux_mode="popup" data-login_uri="http://localhost:8000/api/auth/googleauth"
                data-auto_prompt="false">
            </div>
            <div id="g_id_onload" *ngIf="!development"
            data-client_id="659899542369-75udpfmm6ekm5kk6lescibk4u55jlj0c.apps.googleusercontent.com"
            data-context="signin" data-ux_mode="popup" data-login_uri="/api/auth/googleauth"
            data-auto_prompt="false">
        </div>
            <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="filled_black"
                data-text="signin" data-size="large" data-logo_alignment="left" ngbTooltip="Log in with google" placement="bottom">
            </div>
            <hr>
        </div>
        <div class="form-links">
            <!-- <hr> -->
            <p>Forgot your password? <a routerLink="/auth/reset-password">Reset Password</a></p>
            <p>New user? <a routerLink="/auth/register">Register</a></p>
        </div>
    </form>
</div>