// VARIABLES
@import "../../styles/vars";

// MIXIONS
@import "../../styles/mixins";

img {
  width: 100%;
}
div {
  h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(49, 49, 224, 0.969);
    color: $color-white-clear;
    font-family: $font-text;
    border-radius: 64px;
    padding: 16px 32px;
  }
}
