// VARIABLES
@import "../../styles/vars";

// MIXIONS
@import "../../styles/mixins";

div {
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(49, 49, 224, 0.969);
    color: $color-white-clear;
    font-family: $font-text;
    border-radius: 64px;
    padding: 16px 32px;
    width: max-content;
  }
  @include mobile(){
    h1 {
      font-size: $size-subtitle;
      width: 200px;
      padding: 32px;
    }
  }
}
