<div class="card-container">
    <div class="card">
        <div class="card-user">
            <h2>User Data</h2>
            <button *ngIf="user.can_pm">Send Message</button>
            <p>Nick: {{user.nick}}</p>
            <p>Email: {{user.email}}</p>
            <p>Location: {{user.location}}</p>
            <p>Birthday: {{user.birthday}}</p>
            <img *ngIf="user.avatar != null && user.avatar != ''" class="avatar"
                [src]="url+user.avatar" width="100" height="100" alt="Avatar">
            <img *ngIf="user.avatar == null" class="avatar"
                [src]="'https://api.dicebear.com/6.x/bottts/svg?seed='+user.nick" width="100" height="100" alt="Default Avatar">
            <p>Rol: {{user.rol}}</p>
            <p>Created at: {{user.created_at | date}}</p>
            <p>Updated at: {{user.updated_at | date}}</p>
        </div>
    </div>
</div>