<div class="card-container {{theme}}">
    <div [ngClass]="{'view': !view}" class="card">
        <div class="card-user">
            <div class="card-header">
                <div class="title">
                    <app-avatar [user]="user" [width]="'100'" [height]="'100'"></app-avatar>
                    <div class="text">
                        <h1>{{user.nick}}</h1>
                        <h3>
                            <fa-icon class="icon" [icon]="['fas', 'users']"></fa-icon>
                            &nbsp;<span>{{user.rol}}</span>
                        </h3>
                    </div>
                </div>
                <div class="btns">
                    <a class="btn-a" *ngIf="user.can_pm" routerLink="/private-message/{{user.id}}">
                        <fa-icon [icon]="['fas', 'message']"></fa-icon>
                        Send Message</a>
                    <a class="btn-a" *ngIf="user.id == userAuth.id" routerLink="/user/edit/">
                        <fa-icon [icon]="['fas', 'pen']"></fa-icon>
                        Edit Profile</a>
                    <button class="btn2" type="button" (click)="toggleView()">
                        <fa-icon [icon]="['fas', 'project-diagram']"></fa-icon>
                        View Statistics</button>
                </div>
            </div>
            <div class="data">
                <fa-icon class="icon" [icon]="['fas', 'envelope']"></fa-icon>
                <p>{{user.email}}</p>
            </div>
            <div class="data" *ngIf="user.location">
                <fa-icon class="icon" [icon]="['fas', 'location-dot']"></fa-icon>
                <p>{{user.location}}</p>
            </div>
            <div class="data" *ngIf="user.birthday">
                <fa-icon class="icon" [icon]="['fas', 'cake-candles']"></fa-icon>
                <p>{{user.birthday | date}}</p>
            </div>
            <div class="data" *ngIf="user.is_verified">
                <fa-icon class="icon" [icon]="['fas', 'certificate']"></fa-icon>
                <p>User verified</p>
            </div>
            <div class="data" *ngIf="!user.is_verified">
                <fa-icon class="icon" [icon]="['fas', 'robot']"></fa-icon>
                <p>Maybe is a bot</p>
            </div>
            <div class="data" *ngIf="user.last_post">
                <fa-icon class="icon" [icon]="['fas', 'pen-nib']"></fa-icon>
                <span>last post: {{(user.last_post.updated_at == user.last_post.created_at ? user.last_post.created_at : user.last_post.updated_at) | ago }} in <a routerLink="/topic/{{user.last_post.topic.id}}">{{user.last_post.topic.title}}</a></span>
            </div>
            <div class="card-footer">
                <div class="data">
                    <fa-icon class="icon" [icon]="['fas', 'calendar-days']"></fa-icon>
                    <p>Created at: {{user.created_at | date}}</p>
                </div>
                <div class="data" *ngIf="user.created_at != user.updated_at">
                    <fa-icon class="icon" [icon]="['fas', 'clock']"></fa-icon>
                    <p>Updated at: {{user.updated_at | date}}</p>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'no': !view, 'default': view}" class="card">
        <div class="card-user">
            <div class="card-header">
                <div class="title">
                    <app-avatar [user]="user" [width]="'100'" [height]="'100'"></app-avatar>
                    <div class="text">
                        <h1>{{user.nick}}</h1>
                        <h3>
                            <fa-icon class="icon" [icon]="['fas', 'users']"></fa-icon>
                            &nbsp;<span>{{user.rol}}</span>
                        </h3>
                    </div>
                </div>
                <div class="btns">
                    <a class="btn-a" *ngIf="user.can_pm" routerLink="/private-message/{{user.id}}">
                        <fa-icon [icon]="['fas', 'message']"></fa-icon>
                        Send Message</a>
                    <a class="btn-a" *ngIf="user.id == userAuth.id" routerLink="/user/edit/">
                        <fa-icon [icon]="['fas', 'pen']"></fa-icon>
                        Edit Profile</a>
                    <button class="btn2" type="button" (click)="toggleView()">
                        <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>
                        View Profile
                    </button>
                </div>
            </div>
            <div class="btn-chart">
                <button class="btn2" (click)="chart1 = !chart1">
                    <fa-icon [icon]="['fas', chart1 ? 'chart-line': 'chart-pie']"></fa-icon>
                    View {{chart1 ? 'Topics': 'Activity'}}
                </button>
            </div>
            <div class="chart" *ngIf="chart1">
                <div echarts [options]="chartOption" class="demo-chart" [theme]="theme == 'dark' ? 'dark': 'default'"></div>
                <!-- <div echarts [options]="options | async" [theme]="'dark'" [loading]="loading" class="demo-chart"></div> -->
            </div>
            <div class="chart" *ngIf="!chart1">
                <div echarts [options]="chartOption2" class="demo-chart" [theme]="theme == 'dark' ? 'dark': 'default'"></div>
            </div>
        </div>
    </div>
</div>