/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Fonts
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/RobotoMono.ttf");
}
@font-face {
  font-family: "Sans";
  src: url("./assets/fonts/OpenSans.ttf");
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap-utilities';
@import 'bootstrap/scss/toasts';
