<div class="list-page {{theme}}">
    <app-sidebar></app-sidebar>

    <div class="list" *ngIf="loading">
        <div class="list-header">
            <img src="/assets/svg/logo.svg" height="100" alt="logo FORIA">
            <p class="description-title"><fa-icon [icon]="['fas', 'code']"></fa-icon> {{"FORUM_ABOUT" | translate}} <b>IA</b></p>
            <div class="option-btns">
                <button class="btn2" type="button"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon> {{"COLLAPSE_SECTIONS"|translate}}</button>
            </div>
        </div>
        <div class="list-body">
            <ul>
                <li *ngFor="let _ of [0, 1]" class="section">
                    <fieldset>
                        <legend>
                            <span><app-loading height="36px" width="200px"></app-loading></span>
                        </legend>
                        <ul class="show">
                            <li *ngFor="let _ of [0, 1]" class="categories">
                                <div class="category">
                                    <span><app-loading height="30px" width="50%"></app-loading></span>
                                    <p class="m"><app-loading height="37px" width="100%"></app-loading></p>
                                </div>
                                <div class="last-post m">
                                    <div class="text">
                                        <h3 class="m"><app-loading height="22px" width="80px"></app-loading>
                                        </h3>
                                        <div class="nom-data">
                                            <h4 class="m">
                                                <app-loading height="20px" width="90px"></app-loading>
                                            </h4>
                                            <h5 class="m"><app-loading height="16px" width="70px"></app-loading></h5>
                                        </div>
                                    </div>
                                    <div class="user">
                                        <app-loading height="75px" width="75px" appa="circle"></app-loading>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                </li>
            </ul>
        </div>
        <div class="list-footer">
            <app-loading height="30px" width="120px"></app-loading>
        </div>
    </div>

    <div class="list" *ngIf="!loading">
        <div class="list-header">
            <img src="/assets/svg/logo.svg" height="100" alt="logo FORIA">
            <p class="description-title"><fa-icon [icon]="['fas', 'code']"></fa-icon> {{"FORUM_ABOUT" | translate}} <b>IA</b></p>
            <div class="option-btns">
                <button class="btn2" type="button" (click)="toogleSections()">
                    <fa-icon [icon]="['fas', allSections ? 'chevron-right': 'chevron-down']"></fa-icon> {{allSections ?
                    ('EXPAND_SECTIONS' | translate):
                    ('COLLAPSE_SECTIONS' | translate)}}</button>
            </div>
        </div>
        <div class="list-body">
            <ul>
                <li *ngFor="let section of forum" class="section">
                    <fieldset>
                        <legend>
                            <h1 (click)="toggle(section.name)" ngbTooltip="{{ocults[section.name] ? ('EXPAND'|translate): ('Collapse'|translate)}} {{section.name}}"><fa-icon
                                    [icon]="['fas', ocults[section.name] ? 'chevron-right': 'chevron-down']"></fa-icon>
                                {{section.name | capitalize}}</h1>
                        </legend>
                        <ul [(ngbCollapse)]="ocults[section.name]">
                            <li *ngFor="let category of section.categories" class="categories">
                                <div class="category" routerLink="/category/{{category.id}}">
                                    <h2>{{category.title | capitalize}}</h2>
                                    <p>{{category.description}}</p>
                                    <img *ngIf="category.image" [src]="apiImageUrl + category.image"
                                        alt="{{'IMAGE_OF'|translate}} {{category.title}}">
                                </div>
                                <div class="last-post" *ngIf="category.lastPost">
                                    <div class="text">
                                        <h3><a routerLink="/topic/{{category.lastPost.topic.id}}"
                                                [queryParams]="{'page': category.lastPost.topic.last_page}" fragment="last"
                                                ngbTooltip="{{'VIEW_LAST_POST'|translate}} {{category.lastPost.topic.title}}">
                                                {{ ((category.lastPost.topic.title.length > 8) ?
                                                (category.lastPost.topic.title |
                                                slice:0:8)+'...':(category.lastPost.topic.title)) | capitalize}}</a>
                                        </h3>
                                        <div class="nom-data">
                                            <h4>
                                                <a
                                                    routerLink="/user/profile/{{category.lastPost.user.id}}"
                                                    ngbTooltip="{{'VIEW_PROFILE'|translate}} {{category.lastPost.user.nick}}" placement="bottom">{{category.lastPost.user.nick}}</a>
                                            </h4>
                                            <h5>{{category.lastPost.created_at | ago }}</h5>
                                        </div>
                                    </div>
                                    <div class="user">
                                        <app-avatar [user]="category.lastPost.user" [width]="'75'"
                                            [height]="'75'"></app-avatar>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                </li>
            </ul>
        </div>
        <div class="list-footer">
            <button class="btn2" type="button" (click)="scrollToTop()"><fa-icon [icon]="['fas', 'arrow-up']"></fa-icon>{{"TO_TOP"|translate}}</button>
        </div>
    </div>
</div>