<div class="list-page {{theme}}">
    <div class="loading" *ngIf="loading">
        <fa-icon [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon>
        <p>Loading ...</p>
    </div>
    <div class="list" *ngIf="!loading">
        <div class="list-header">
            <h1>FORIA</h1>
            <img src="/assets/svg/logo.svg" height="100" alt="logo FORIA">
        </div>
        <div class="list-body">
            <ul>
                <li *ngFor="let section of forum">
                    <h1>Section: {{section.name}}</h1>
                    <ul>
                        <li *ngFor="let category of section.categories" class="categories">
                            <div class="cateogry">
                                <h2 routerLink="/category/{{category.id}}">Category: {{category.title}}</h2>
                                <p>{{category.description}}</p>
                                <img *ngIf="category.image" src="{{category.image}}" alt="Image of {{category.title}}">
                            </div>
                            <div class="last-post" *ngIf="category.lastPost">
                                <div class="user">
                                    <app-avatar [user]="category.lastPost.user" [width]="'50'"
                                        [height]="'50'"></app-avatar>
                                    <h4 routerLink="/user/profile/{{category.lastPost.user.nick}}">
                                        {{category.lastPost.user.nick}}</h4>
                                </div>
                                <div>
                                    <h3 routerLink="/topic/{{category.lastPost.topic.id}}">
                                        {{category.lastPost.topic.title}}</h3>
                                    <h5>{{category.lastPost.created_at | date}}</h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="list-footer">
            <button type="button" (click)="scrollToTop()">Back to top</button>
        </div>
    </div>
</div>