<div class="list-page {{theme}}">
    <div class="list">
        <div class="list-header">
            <h1 *ngIf="title != ''">Edit: {{title}}</h1>
            <h1 *ngIf="title == ''">{{mode | capitalize}} new Poll</h1>
        </div>
        <div class="list-body">
            <div class="poll">
                <div class="poll-name">
                    <input type="text" placeholder="Poll Name" [(ngModel)]="poll.name">
                </div>
                <div class="poll-options">
                    <div class="poll-option" *ngFor="let opt of poll.options; index as i;">
                        <input type="text" placeholder="Option {{i+1}}" [(ngModel)]="poll.options[i].option">
                        <button [disabled]="poll.options.length <= 2" class="btn-delete" (click)="onDeleteOption(i)">
                            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                        </button>
                    </div>
                    <div class="add-o">
                        <span>Add more options </span>
                        <button class="btn-add" (click)="onAddOption()">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        </button>
                    </div>
                </div>

                <button class="btn-s" type="submit" [disabled]="poll.name == '' || poll.name.length < 3 || poll.options.length < 2"
                    (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>