<div class="list-page {{theme}}">
    <div class="list">
        <div class="list-header">
            <h1 *ngIf="title != ''">{{"EDIT"|translate}} {{title}}</h1>
            <h1 *ngIf="title == ''">{{mode | capitalize}} {{"NEW_POLL"|translate}}</h1>
        </div>
        <div class="list-body">
            <div class="poll">
                <div class="poll-name">
                    <input type="text" placeholder="{{'POLL_NAME'|translate}}" [(ngModel)]="poll.name">
                </div>
                <div class="poll-date">
                    <label for="date">{{"POLL_FINISH_DATE"|translate}}</label>
                    <input id="date" type="date" [(ngModel)]="poll.finish_date">
                </div>
                <div class="poll-options">
                    <div class="poll-option" *ngFor="let opt of poll.options; index as i;">
                        <input type="text" placeholder="Option {{i+1}}" [(ngModel)]="poll.options[i].option">
                        <button [disabled]="poll.options.length <= 2" class="btn-delete" (click)="onDeleteOption(i)">
                            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                        </button>
                    </div>
                    <div class="add-o">
                        <span>{{"ADD_OPTIONS"|translate}} </span>
                        <button class="btn-add" (click)="onAddOption()">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        </button>
                    </div>
                </div>
                <p class="error" *ngIf="error != ''"><fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{error}}</p>
                <button class="btn-s" type="submit" [disabled]="poll.name == '' || poll.name.length < 3 || poll.options.length < 2 || poll.options.length > 10 || poll.finish_date == '' "
                    (click)="onSubmit()">{{"SUBMIT"|translate}}</button>
            </div>
        </div>
    </div>
</div>