<div class="list-page {{theme}}">
    <div class="list">
        <div class="list-header">
            <h1 *ngIf="!loading">Reply to {{title}}</h1>
            <span *ngIf="loading" class="bot"><app-loading height="53px" width="250px"></app-loading></span>
        </div>
        <div class="list-body">
            <div class="editor-parent" *ngIf="userLogged">
                <input *ngIf="!loading" type="text" class="editor-title" [(ngModel)]="reply.title">
                <span *ngIf="loading" class="bot"><app-loading height="30px" width="30%"></app-loading></span>
                <div class="editor-user">
                    <div class="user-card">
                        <app-avatar [user]="userLogged.userData"></app-avatar>
                        <div class="text">
                            <a routerLink="/user/profile/{{userLogged.userData.id}}" ngbTooltip="View Your Profile">{{userLogged.userData.nick}}</a>
                            <small ngbTooltip="{{userLogged.userData.public_role.description}}" placement="bottom">{{userLogged.userData.public_role.name}}</small>
                        </div>
                    </div>
                    <div class="editor">
                        <angular-editor id="editor" [(ngModel)]="reply.content"
                            [config]="editorConfig"></angular-editor>
                    </div>
                </div>
                <input type="submit" class="btn-s"
                    [disabled]="reply.content.length == 0 || reply.content.length > 10_000" (click)="onSubmit()">
                <div *ngIf="error != ''" class="error">
                    <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{error}}
                </div>
            </div>
        </div>
    </div>
</div>