
<div class="list-page {{theme}}">
    <div class="list">
        <div class="list-header">
            <h1>Reply to {{topicTitle}}</h1>
        </div>
        <h4 *ngIf="loading"><fa-icon [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon> Loading ...</h4>
        <div class="new-pm" *ngIf="!loading">
            
            <div class="editor">
                <angular-editor  [(ngModel)]="message.content" [config]="editorConfig"></angular-editor>
            </div>
            <input type="submit" class="btn btn-primary" (click)="onSubmit()">
        </div>
    </div>
</div>