
<div class="list-page {{theme}}">
    <div class="list">
        <div class="list-header">
            <h1>Reply to {{title}}</h1>
        </div>
        <div class="editor-parent">
            <div class="editor">
                <input type="text" [(ngModel)]="reply.title">
                <angular-editor id="editor" [(ngModel)]="reply.content" [config]="editorConfig"></angular-editor>
            </div>
            <input type="submit" [disabled]="reply.content.length == 0 || reply.content.length > 10_000" class="btn btn-primary"
                (click)="onSubmit()">
            <div *ngIf="error != ''" class="error">
                <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{error}}
            </div>
        </div>
    </div>
</div>