<div class="list-page {{theme}}">
    <div class="list">
        <div class="list-header">
            <h1 *ngIf="loading">Private Message</h1>
            <h1 *ngIf="!loading">{{privateMessageList?.message?.title}}</h1>
        </div>
        <h4 *ngIf="loading"><fa-icon [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon> Loading ...</h4>
        <div class="list-body" *ngIf="!loading">
            <button routerLink="/private-message/reply/{{pmId}}">Reply</button>
            <ng-container *ngIf="privateMessageList">
                <div *ngIf="privateMessageList.message.hasOwnProperty('content')">
                    <ng-container *ngTemplateOutlet="message; context:{pm: privateMessageList.message}"></ng-container>
                    <h3>Historial de missatges</h3>
                    <hr /><br>
                </div>
                <div *ngFor="let pm of privateMessageList.thread">
                    <ng-container *ngTemplateOutlet="message; context: {pm: pm}"></ng-container>
                </div>
                <div class="editor-parent">
                    <input class="editor-title" type="text" [(ngModel)]="reply.title">
                    <div class="editor">
                        <angular-editor id="editor" [(ngModel)]="reply.content"
                            [config]="editorConfig"></angular-editor>
                    </div>
                    <input class="btn-s" type="submit" [disabled]="reply.content.length == 0 || reply.content.length > 10_000" (click)="onSubmit()">
                    <div *ngIf="error != ''" class="error">
                        <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{error}}
                    </div>
                </div>
                <div class="list-footer">
                    <app-pagination [current_page]="privateMessageList.page.current"
                        [last_page]="privateMessageList.page.last" (changePage)="changePage($event)">
                    </app-pagination>
                    <div class="c">
                        <div>Total History Messages: {{privateMessageList.page.total}}</div>
                        <div>Page: {{privateMessageList.page.current}}/{{privateMessageList.page.last}}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #message let-pm="pm">
    <div class="post">
        <div class="body">
            <h4>{{pm.title}}</h4>
            <p>From: <a routerLink="/user/profile/{{pm.sender.id}}">{{pm.sender.nick}}</a> on {{pm.created_at | date}}
            </p>
            <hr>
            <p class="content" [innerHTML]="pm.content">
            </p>
        </div>
        <div class="avatar">
            <app-avatar [user]="pm.sender"></app-avatar>
            <div class="text">
                <a routerLink="/user/profile/{{pm.sender.id}}">{{pm.sender.nick}}</a>
                <p>{{pm.sender.role}}</p>
            </div>
        </div>
    </div>
</ng-template>