// VARIABLES
@import "../../../../styles/vars";

// MIXIONS
@import "../../../../styles/mixins";

.post {
  margin-bottom: 16px;
  a {
    color: rgb(102, 128, 159);
    text-decoration: none;
  }
  padding: 16px;
  border: 2px solid $color-black;
  display: flex;
  width: 100%;
  .body {
    flex: 1;
    .content {
      margin-top: 8px;
    }
  }
  .avatar {
    @include col(space-between, 8px);
    padding: 0 0px 0px 16px;
    .text{
        width: 100%;
        @include col(space-between, 8px);
        align-items: center;
    }
  }
}
