// VARIABLES
@import "../../../../styles/vars";

// MIXIONS
@import "../../../../styles/mixins";

.post {
  background-color: $color-black-grey;
  margin-bottom: 16px;
  a {
    @include a-link($color-gradient4, $color-gradient5, $color-gradient6);
    text-decoration: none;
  }
  // padding: 16px;
  border: 2px solid $color-black;
  display: flex;
  width: 100%;
  .body {
    padding: 16px;
    flex: 1;
    .content {
      margin-top: 8px;
      word-break: break-all;
    }
  }
  .user-avatar {
    padding: 16px;
    @include col(space-between, 8px);
    border-left: 2px solid $color-black;
    .text{
        width: 100%;
        @include col(space-between, 8px);
        align-items: center;
    }
  }
}
