<div class="list-page {{theme}}">
    <div *ngIf="loading" class="list">
        <div class="list-header">
            <h1 class="m"><app-loading height="53px" width="350px"></app-loading></h1>
        </div>
        <div class="list-body">
            <span class="m"><app-loading height="28px" width="100px"></app-loading></span>
            <ng-container *ngTemplateOutlet="Loading;"></ng-container>
            <h2><app-loading height="40px" width="250px"></app-loading></h2>
            <hr />
            <br>
            <div *ngFor="let _ of [0, 1]">
                <ng-container *ngTemplateOutlet="Loading;"></ng-container>
            </div>
            <div class="list-footer">
                <app-loading height="35px" width="180px"></app-loading>
                <div class="c">
                    <div><app-loading height="25px" width="170px"></app-loading></div>
                    <div><app-loading height="25px" width="120px"></app-loading></div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!loading" class="list">
        <div class="list-header">
            <h1>{{privateMessageList?.message?.title}}</h1>
        </div>
        <div class="list-body">
            <button class="btn-a" routerLink="/private-message/reply/{{pmId}}">
                <fa-icon [icon]="['fas', 'reply']"></fa-icon>
                Reply
            </button>
            <ng-container *ngIf="privateMessageList">
                <div *ngIf="privateMessageList.message.hasOwnProperty('content')">
                    <ng-container *ngTemplateOutlet="message; context:{pm: privateMessageList.message}"></ng-container>
                    <h2>Historial de missatges&nbsp;
                        <fa-icon [icon]="['far', 'clock']"></fa-icon>
                    </h2>
                    <hr /><br>
                </div>
                <div *ngFor="let pm of privateMessageList.thread">
                    <ng-container *ngTemplateOutlet="message; context: {pm: pm}"></ng-container>
                </div>
                <div class="editor-parent" *ngIf="userLogged">
                    <input type="text" class="editor-title" [(ngModel)]="reply.title">
                    <div class="editor-user">
                        <div class="user-card">
                            <app-avatar [user]="userLogged.userData"></app-avatar>
                            <div class="text">
                                <a
                                    routerLink="/user/profile/{{userLogged.userData.id}}">{{userLogged.userData.nick}}</a>
                                <small>{{userLogged.userData.rol}}</small>
                            </div>
                        </div>
                        <div class="editor">
                            <angular-editor id="editor" [(ngModel)]="reply.content"
                                [config]="editorConfig"></angular-editor>
                        </div>
                    </div>
                    <input class="btn-s" type="submit"
                        [disabled]="reply.content.length == 0 || reply.content.length > 10_000" (click)="onSubmit()">
                    <div *ngIf="error != ''" class="error">
                        <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{error}}
                    </div>
                </div>
                <div class="list-footer">
                    <app-pagination [current_page]="privateMessageList.page.current"
                        [last_page]="privateMessageList.page.last" (changePage)="changePage($event)">
                    </app-pagination>
                    <div class="c">
                        <div>Total History Messages: {{privateMessageList.page.total}}</div>
                        <div>Page: {{privateMessageList.page.current}}/{{privateMessageList.page.last}}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #message let-pm="pm">
    <div class="history">
        <div class="body">
            <div class="title">
                <h3>{{pm.title}}</h3>
                <p>From: <a routerLink="/user/profile/{{pm.sender.id}}">{{pm.sender.nick}}</a> on {{pm.created_at |
                    date}}
                </p>
            </div>
            <p class="content" [innerHTML]="pm.content">
            </p>
        </div>
        <div class="user-avatar">
            <app-avatar [user]="pm.sender"></app-avatar>
            <div class="text">
                <a routerLink="/user/profile/{{pm.sender.id}}">{{pm.sender.nick}}</a>
                <p>{{pm.sender.rol}}</p>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #Loading>
    <div class="history">
        <div class="body">
            <div class="title">
                <h3 class="m"><app-loading height="25px" width="150px"></app-loading></h3>
                <p class="m"><app-loading height="25px" width="200px"></app-loading>
                </p>
            </div>
            <p class="me">
                <app-loading height="60px" width="100%"></app-loading>
            </p>
        </div>
        <div class="user-avatar">
            <app-loading appa="circle"></app-loading>
            <div class="text">
                <app-loading height="20px" width="70px"></app-loading>
                <app-loading height="20px" width="50px"></app-loading>
            </div>
        </div>
    </div>
</ng-template>