<div class="form-page {{theme}}">
    <form [ngClass]="{'view': !view}" [formGroup]="formEditProfile" (ngSubmit)="submit()" class="form-container">
        <h2>Edit Profile</h2>
        <button class="btn2" type="button" (click)="toggleView()">Edit Preferences</button>
        <h3 *ngIf="error"><fa-icon [icon]="['fas', 'circle-exclamation']"></fa-icon> {{error}}</h3>
        <h4 *ngIf="loading"><fa-icon [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon> Loading ...</h4>
        <div class="fields">
            <div class="group">
                <div class="field">
                    <input type="text" formControlName="nick" [(ngModel)]="user.nick" class="input" placeholder="Nick"
                        required>
                    <fa-icon class="icon" [icon]="['fas', 'user']"></fa-icon>
                </div>
                <div class="message-block" *ngIf="!nick?.valid && nick?.touched">
                    <ng-container *ngFor="let validation of validationMessagesEditProfile.nick | keyvalue">
                        <div *ngIf="nick?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="group">
                <div class="field">
                    <input type="email" formControlName="email" [(ngModel)]="user.email" class="input"
                        placeholder="Email" required>
                    <fa-icon class="icon" [icon]="['fas', 'envelope']"></fa-icon>
                </div>
                <div class="message-block" *ngIf="!email?.valid && email?.touched">
                    <ng-container *ngFor="let validation of validationMessagesEditProfile.email | keyvalue">
                        <div *ngIf="email?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="group">
                <div class="field">
                    <input type="text" formControlName="location" [(ngModel)]="user.location" class="input"
                        placeholder="Location">
                    <fa-icon class="icon" [icon]="['fas', 'location-dot']"></fa-icon>
                </div>
                <div class="message-block" *ngIf="!location?.valid && location?.touched">
                    <ng-container *ngFor="let validation of validationMessagesEditProfile.location | keyvalue">
                        <div *ngIf="location?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="group">
                <div class="col-field">
                    <label for="birthday">Birthday</label>
                    <div class="field">
                        <input type="date" formControlName="birthday" [(ngModel)]="user.birthday" id="birthday"
                            class="input date">
                        <fa-icon class="icon" [icon]="['fas', 'cake-candles']"></fa-icon>
                    </div>
                </div>
                <div class="message-block" *ngIf="!birthday?.valid && birthday?.touched">
                    <ng-container *ngFor="let validation of validationMessagesEditProfile.birthday | keyvalue">
                        <div *ngIf="birthday?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="group">
                <div class="col-field">
                    <div class="check-avatar">
                        <div>
                            <label for="file">Avatar</label>
                            <img *ngIf="(user.avatar != null || imageSrc != '') && !deleteAvatar?.value && (user.avatar | avatarUrl)"
                                class="avatar" [src]="imageSrc || user.avatar" width="100" height="100"
                                alt="Google Avatar">
                            <img *ngIf="(user.avatar != null || imageSrc != '') && !deleteAvatar?.value && !(user.avatar | avatarUrl)"
                                class="avatar" [src]="imageSrc || url+'get-avatar/'+user.avatar" width="100"
                                height="100" alt="Avatar">
                            <img *ngIf="(user.avatar == null && imageSrc == '') || deleteAvatar?.value" class="avatar"
                                [src]="'https://api.dicebear.com/6.x/bottts/svg?seed='+user.nick" width="100"
                                height="100" alt="Default Avatar">
                        </div>
                        <div class="check-delete">
                            <label for="deleteAvatar">Delete Avatar</label>
                            <input type="checkbox" formControlName="deleteAvatar" id="deleteAvatar">
                        </div>
                    </div>
                    <p *ngIf="!deleteAvatar?.value && imageSrc != ''">{{imageSelected}}</p>
                    <p *ngIf="deleteAvatar?.value || (imageSrc == '' && user.avatar==null)">Default Avatar</p>
                    <p
                        *ngIf="!deleteAvatar?.value && imageSrc == '' && user.avatar != null && (user.avatar | avatarUrl)">
                        Google Avatar</p>
                    <div class="field">
                        <input type="file" accept="image/*" (change)="fileChangeEvent($event)"
                            (change)="readURL($event);" id="file" formControlName="avatar" class="input">
                        <fa-icon class="icon" [icon]="['fas', 'image-portrait']"></fa-icon>
                    </div>
                </div>
                <div class="message-block" *ngIf="!avatar?.valid && avatar?.touched">
                    <ng-container *ngFor="let validation of validationMessagesEditProfile.avatar | keyvalue">
                        <div *ngIf="avatar?.errors?.[validation.key]">
                            <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{ validation.value }}
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="btn-field">
            <button [disabled]="!formEditProfile.valid" class="btn-send">
                Edit Profile
            </button>
            <fa-icon class="btn-icon" [icon]="['fas', 'thumbs-up']"></fa-icon>
        </div>
        <div class="form-links">
            <p><a routerLink="/user/profile/{{userId}}">View Profile</a></p>
        </div>
    </form>
    <form  [ngClass]="{'no': !view, 'default': view}" [formGroup]="formEditPreferences" (ngSubmit)="editPreferences()" class="form-container">
        <h2>Edit Preferences</h2>
        <button class="btn2" type="button" (click)="toggleView()">Edit Profile</button>
        <h4 *ngIf="loading"><fa-icon [icon]="['fas', 'spinner']" [pulse]="true"></fa-icon> Loading ...</h4>
        <div class="fields">
            <div class="group">
                <div class="check">
                    <input type="checkbox" id="sidebar" [(ngModel)]="preferences.sidebar" formControlName="sidebar">
                    <label for="sidebar">Sidebar</label>
                </div>
            </div>
            <div class="group">
                <div class="check">
                    <input type="checkbox" id="filter_bad_words" [(ngModel)]="preferences.filter_bad_words" formControlName="filter_bad_words">
                    <label for="filter_bad_words">Filter Bad Words</label>
                </div>
            </div>
            <div class="group">
                <div class="check">
                    <input type="checkbox" id="allow_view_profile" [(ngModel)]="preferences.allow_view_profile"
                        formControlName="allow_view_profile">
                    <label for="allow_view_profile">Allow View Profile</label>
                </div>
            </div>
            <div class="group">
                <div class="check">
                    <input type="checkbox" id="allow_user_to_mp" [(ngModel)]="preferences.allow_user_to_mp"
                        formControlName="allow_user_to_mp">
                    <label for="allow_user_to_mp">Allow User To Mp</label>
                </div>
            </div>
            <div class="group">
                <div class="check">
                    <input type="checkbox" id="hide_online_presence" [(ngModel)]="preferences.hide_online_presence"
                        formControlName="hide_online_presence">
                    <label for="hide_online_presence">Hide Online Presence</label>
                </div>
            </div>
            <div class="group">
                <div class="check">
                    <input type="checkbox" id="two_fa" [(ngModel)]="preferences.two_fa"
                        formControlName="two_fa">
                    <label for="two_fa">Two Fa</label>
                </div>
            </div>
            <div class="group">
                <div class="check">
                    <input type="checkbox" id="allow_music" [(ngModel)]="preferences.allow_music" formControlName="allow_music">
                    <label for="allow_music">Allow Music</label>
                </div>
            </div>
            <div class="group">
                <div class="check">
                    <input type="checkbox" id="recieve_emails" [(ngModel)]="preferences.recieve_emails" formControlName="recieve_emails">
                    <label for="recieve_emails">Recieve Emails</label>
                </div>
            </div>
        </div>
        <div class="btn-field">
            <button [disabled]="!formEditPreferences.valid" class="btn-send">
                Edit Preferences
            </button>
            <fa-icon class="btn-icon" [icon]="['fas', 'thumbs-up']"></fa-icon>
        </div>
        <div class="form-links">
            <p><a routerLink="/user/profile/{{userId}}">View Profile</a></p>
        </div>
    </form>
</div>