.form-page {
  -webkit-perspective: 3000px;
  perspective: 3000px;
  position: relative;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  height: 1070px;
  form {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 2s;
    transform: rotateY(0deg);
  }
  form.view {
    transform: rotateY(180deg);
  }
  form.no {
    transform: rotateY(360deg);
  }
  form.default {
    transform: rotateY(180deg);
  }
}

@import "../../../../styles/vars";

button {
  cursor: pointer;
}

.modal-content {
  font-size: $size-text;
  font-family: $font-text;
}
.block-modal {
  cursor: wait;
  z-index: 10000;
  position: fixed;
  width: 100%;
  height: 100%;
}
