<footer class="footer">
    <img src="/assets/svg/logo.svg" height="50" alt="logo">
    <div class="icons-footer">
        <a href="https://www.github.com/" target="_blank">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
        </a>
        <a href="https://www.youtube.com/" target="_blank">
            <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
        <a href="https://www.twitter.com/" target="_blank">
            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </a>
        <a href="https://www.facebook.com/" target="_blank">
            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/" target="_blank">
            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
        </a>
        <a href="https://www.discord.com/" target="_blank">
            <fa-icon [icon]="['fab', 'discord']"></fa-icon>
        </a>
    </div>
    <div class="footer-text">
        <p>Copyright &copy; 2023</p>
        <p>By Eloi & Dani</p>
    </div>
</footer>
