<!-- <div [hidden]="loading" class="page-container"> -->
<div class="bg-dark text-white d-flex min-vh-100 h-100 main">
  <app-sidenav></app-sidenav>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</div>
<!-- <app-footer></app-footer> -->
<!-- </div>  -->

<!-- <app-toasts aria-live="polite" aria-atomic="true"></app-toasts> -->
<!--
  <div *ngIf="loading" class="page-loading {{theme}}">
    <img class="logoIA" src="/assets/svg/logoIA.svg" height="400" alt="loading spinner">
  </div> -->