<div id="sidebar" [ngClass]="collapsed ? 'collapsed' : ''"
  class="sidebar d-flex min-vh-100 h-100 flex-column flex-shrink-0 bg-light bg-gradient px-1">
  <div class="sticky-top vh-100 d-flex flex-column justify-content-between">
    <div>
      <button type="button" class="btn w-100 nav-btn mt-2" [ngClass]="collapsed ? 'btn-primary' :'btn-outline-primary'"
        (click)="collapsed = !collapsed; collapsedChange.emit(collapsed)">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <!-- <li>
          <a routerLink="/admin/dashboard" class="nav-link" routerLinkActive="active link-light">
            <fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon> <span class="nav-item"> Dashboard</span>
          </a>
        </li> -->
        <li>
          <a routerLink="/admin/categories" class="nav-link" routerLinkActive="active link-light">
            <fa-icon [icon]="['fas', 'folder']"></fa-icon> <span class="nav-item"> Categories</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/users" class="nav-link"
          [ngClass]="{'active link-light':showActive}"
          >
            <fa-icon [icon]="['fas', 'users']"></fa-icon> <span class="nav-item"> Users</span>
          </a>
        </li>
        <li>
          <a routerLink="/admin/users/roles" class="nav-link" routerLinkActive="active link-light"  [routerLinkActiveOptions]="{exact: true}">
            <fa-icon [icon]="['fas', 'shield']" ></fa-icon> <span class="nav-item"> Roles</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="py-3">
      <div ngbDropdown class="dropdown p-1" *ngIf="user !== null">
        <a href="javascript:void(0)" class="d-flex align-items-center link-dark text-decoration-none" id="dropdownUser2"
          ngbDropdownToggle>
          <img [src]="avatarUrl" alt="Avatar of {{user.nick}}" width="32" height="32" class="rounded-circle me-1">
          <strong class="nav-item">{{user.nick}}</strong>
        </a>
        <ul ngbDropdownMenu class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li><a class="dropdown-item" routerLink="/user/edit"><fa-icon [icon]="['fas', 'gear']"></fa-icon> Settings</a></li>
          <li><a class="dropdown-item" routerLink="/user/profile/{{user.id}}"><fa-icon [icon]="['fas', 'user-gear']"></fa-icon> Profile</a></li>
          <li><a class="dropdown-item" routerLink="/"><fa-icon [icon]="['fas', 'house']"></fa-icon> Forum</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="javascript:void(0)" (click)="onLogout()"><fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon> Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>