<div class="list-page {{theme}}">
  <div class="list" *ngIf="!loading">
    <div class="list-header">
      <h1>{{"CREATE_POST"|translate}}</h1>
      <div class="subt" *ngIf="loading">
        <h2><app-loading width="40%" height="30px"></app-loading></h2>
      </div>
      <div class="subt" *ngIf="!loading">
        <h2 *ngIf="!topic">{{"CHOOSE_TOPIC"|translate}}</h2>
        <h2 *ngIf="topic">{{topic | capitalize}}</h2>
      </div>
    </div>
    <div class="list-body">
      <div class="editor-parent" *ngIf="userLogged">
        <div class="custom-search" *ngIf="!topic">
          <div class="user-search">
            <ng-select [placeholder]="'Topic'" [items]="topicList" class="select" bindLabel="title" bindValue="id"
              [(ngModel)]="post.topic_id">
            </ng-select>
          </div>
        </div>
        <div class="editor-user">
          <div class="user-card">
            <app-avatar [user]="userLogged.userData"></app-avatar>
            <div class="text">
              <a routerLink="/user/profile/{{userLogged.userData.id}}">{{userLogged.userData.nick}}</a>
              <small ngbTooltip="{{userLogged.userData.public_role.description}}" placement="bottom">{{userLogged.userData.public_role.name}}</small>
            </div>
          </div>
          <div class="editor">
            <angular-editor id="editor" [(ngModel)]="post.content" [config]="editorConfig"></angular-editor>
          </div>
        </div>
        <div *ngIf="error !== ''" class="error">
          <fa-icon [icon]="['fas', 'triangle-exclamation']"></fa-icon> {{error}}
        </div>
        <button type="submit" [disabled]="post.content.length === 0 || post.content.length > 10_000 || post.topic_id == undefined" class="btn-s"
          (click)="onSubmit()">
          <span *ngIf="posting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{"SEND" | translate}}  </button>
      </div>
    </div>
  </div>
</div>